<!-- scripts/app/customers/detail/contacts -->
<div class="row margin-bottom-1rem">
    <div class="col-md-10 col-md-10">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Filter</strong>
                </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button" obo-defaultfilter>Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-rounded-deep pull-xs-right"><i class="fa fa-plus" aria-hidden="true"></i> ADD STOCK TRANSFER</a>
    </div>
</div>
<div class="filter" obo-filter></div>
<div class="row">
    <div class="col-md-12">
        <div obo-table>
        </div>
        <div obo-paging>
        </div>
    </div>
</div>
<!-- <form class="row" obo-form>
    <div class="col-md-2">
        <div class="form-group">
            <label class="sr-only" for="contacttype">Contact Type</label>
            <select class="form-control" id="contacttype">
                <option selected disabled>Contact Type</option>
                <option>Contact Type A</option>
                <option>Contact Type B</option>
                <option>Contact Type C</option>
              </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="sr-only" for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name" name="FirstName" pattern="[a-z]{1,15}">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="sr-only" for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="Lastname" pattern="[a-z]{1,15}">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="sr-only" for="phonenumber">Phone Number</label>
            <input type="number" class="form-control" id="phonenumber" placeholder="Phone Number">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="sr-only" for="emailaddress">Email Address</label>
            <input type="email" class="form-control" id="emailaddress" placeholder="Email Address">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div obo-table>
        </div>
        <div obo-paging>
        </div>
    </div>
</div> -->
