<td><% if (InsertDate) { print(moment(InsertDate, ["YYYYMMDD"]).format('LL'));}%></td>
<td><% print(Product && Product.ProductName) %></td>
<td><% print(LocationSource && LocationSource.LocationCode) %></td>
<td><% print(LocationDestination && LocationDestination.LocationCode) %></td>
<td><%= Qty %></td>
<td class="center">
    <a href="<%= _getCurrentHash() %>/detail/<%= StockTransferID %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
