<td>
    <%= WarehouseOwner %>
</td>
<td>
    <%= WarehouseName %>
</td>
<td>
    <%= Address1 %>
</td>
<td>
     <%= WarehouseManager %>
</td>
<td>
    <%= Status %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= SubContractorID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
