<!-- scripts/app/customers/filter -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="CustomerNo">
        <div class="form-group">
            <label class="sr-only" for="CustomerNo">Customer Number</label>
            <input type="text" class="form-control" id="CustomerNo" name="CustomerNo" placeholder="Customer Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerName">
        <div class="form-group">
            <label class="sr-only" for="CustomerName">Customer Name</label>
            <input type="text" class="form-control" id="CustomerName" name="CustomerName" placeholder="Customer Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerTradingAs">
        <div class="form-group">
            <label class="sr-only" for="CustomerTradingAs"></label>
            <input type="text" class="form-control" id="CustomerTradingAs" name="CustomerTradingAs" placeholder="Trading As">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AccountNo">
        <div class="form-group">
            <label class="sr-only" for="AccountNo">Account Number</label>
            <input type="text" class="form-control" id="AccountNo" name="AccountNo" placeholder="Account Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerABN">
        <div class="form-group">
            <label class="sr-only" for="CustomerABN">ABN</label>
            <input type="text" class="form-control" id="CustomerABN" name="CustomerABN" placeholder="ABN">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerACN">
        <div class="form-group">
            <label class="sr-only" for="CustomerACN">ACN</label>
            <input type="text" class="form-control" id="CustomerACN" name="CustomerACN" placeholder="ACN">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AccountName">
        <div class="form-group">
            <label class="sr-only" for="AccountName">Account Owner</label>
            <select class="form-control" id="AccountName" name="AccountName">
                <option selected disabled>Account Owner</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="DateStart">
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only" for="DateStart">Date Started</label>
                <input type="text" class="form-control" id="DateStart" name="DateStart" bootstrap-datetimepicker="true" placeholder="Date Started">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="TagName">
        <div class="form-group">
            <label class="sr-only" for="TagName">Tag</label>
            <select class="form-control" id="TagName" name="TagName">
            </select>
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="Phone">
        <div class="form-group">
            <label class="sr-only" for="Phone">Phone Number</label>
            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone Number">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="Mobile">
        <div class="form-group">
            <label class="sr-only" for="Mobile">Mobile</label>
            <input type="text" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile Number">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="Fax">
        <div class="form-group">
            <label class="sr-only" for="Fax">Fax Number</label>
            <input type="text" class="form-control" id="Fax" name="Fax" placeholder="Fax Number">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="PaymentTermName">
        <div class="form-group">
            <label class="sr-only" for="PaymentTermName">Account Terms</label>
            <select class="form-control" id="PaymentTermName" name="PaymentTermName"></select>
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="CreditLimit">
        <div class="form-group">
            <label class="sr-only" for="CreditLimit">Credit limit</label>
            <input type="text" class="form-control" id="CreditLimit" name="CreditLimit" placeholder="Credit Limit">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="InvoiceEmail">
        <div class="form-group">
            <label class="sr-only" for="InvoiceEmail"></label>
            <input type="text" class="form-control" id="InvoiceEmail" name="InvoiceEmail" placeholder="Invoice Email Address">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="FreightPayableName">
        <div class="form-group">
            <label class="sr-only" for="FreightPayableName">Freight Payable By</label>
            <select class="form-control" id="FreightPayableName" name="FreightPayableName"></select>
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="PodEmail">
        <div class="form-group">
            <label class="sr-only" for="PodEmail">POD Email Address</label>
            <input type="text" class="form-control" id="PodEmail" name="PodEmail" placeholder="POD Email Address">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="IsActive">
        <div class="form-group">
            <label class="sr-only" for="IsActive">Status</label>
            <select class="form-control" id="IsActive" name="IsActive" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter>Clear Filter</button>
        </div>
    </div>
</form>
