<!-- login/app/forgot_password -->
<p class="text-muted margin-bottom-1rem font-size-13px">
    Make sure you can receive e-mail from no-reply@domain.com</p>
<div class="card-body">
    <form accept-charset="UTF-8" role="form">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Email Address" name="UserName" type="email" required>
            </div>
            <div class="form-group">
                <div id="recaptcha" class="g-recaptcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback" data-sitekey="<%= siteKey %>" style="transform:scale(1.25);-webkit-transform:scale(1.25);transform-origin:0 0;-webkit-transform-origin:0 0;margin-bottom:60px;"></div>
            </div>
        </fieldset>
        <button class="btn btn-lg btn-primary btn-block" type="submit" disabled="disabled">Send Email</button>
    </form>
</div>
