<td>
    <%= OrderNumber %>
</td>
<td>
    <%= OrderDate %>
</td>
<td>
    <%= ShipDate %>
</td>
<td>
<%= Warehouse %>
</td>
<td>
<%= ShippingAdress %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= id %>/order_information" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
