<thead>
    <tr class="bg-blue">
        <th>ORDER NUMBER <span class="pull-right"><i class="fa fa-caret-up position-absolute isactive" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
        <th>ORDER DATE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
        <th>SHIP DATE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
        <th>WAREHOUSE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
        <th>SHIPPING ADRESS <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
