<!-- scripts/app/customers/detail/Contacts -->

<div class="row">
    <div class="col-md-12">
        <h4>View Inward Goods</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="addresstype">Received Date </label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">mm dd yyyy</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="addresstype">Reason </label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Restock</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="addresstype">Consignor </label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">3WO</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="addresstype">Address 1 </label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">19 Grayson Street</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">2652, NSW</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Tabbita</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">00123456</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Name</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">WO Electronics</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Code</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">WO3475345343D</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Goods Condition</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Good</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Unit Value</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">200</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Status</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Stored</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Storage Location</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Stored</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 margin-top-30">
                  <div class="form-group row">
                      <label class="col-sm-12 col-form-label"><strong>Product Details</strong></label>
                  </div>
                  <table class="table">
                    <thead>
                      <tr class="bg-blue">
                        <th>PRODUCT CATEGORY</th>
                        <th>LENGHT</th>
                        <th>WIDTH</th>
                        <th>HEIGHT</th>
                        <th>CUBIC METRES</th>
                        <th>GOODS DETAILS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="color:#8098a4;">
                        <td>Electronics</td>
                        <td>10</td>
                        <td>0.32 m</td>
                        <td>0.71 m</td>
                        <td>10 m<sup>3</sup></td>
                        <td>
                            <p>Dangerous Good : No</p>
                            <p>Fragile Goods : Yes</p>
                            <p>Perishable Goods : No</p>
                            <p>Temperature Sensiteve : No</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHash() %>/edit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">EDIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
