<div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted">Edit Filter <small class="padding-sm">Pick 5 filters</small>
                </h5>
            </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" id="FilterWarehouseOwner" name="WarehouseOwnerName">
                            Warehouse Owner
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" id="FilterWarehouseName" name="WarehouseName">
                            Warehouse name
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" id="FilterAddress1" name="Address1">
                        Address 1</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterAddress2" name="Address2">
                        Address 2</label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" id="FilterCountry" name="Country">
                        Country</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterPostCode" name="PostCode">
                        Post Code</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterState" name="State">
                        State</label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" id="FilterCity" name="City">
                        City</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterPhoneNumber" name="Phone">
                        Phone Number</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterFaxNumber" name="Fax">
                        Fax Number</label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" id="FilterEmailAddress" name="Email">
                        Email Address</label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" id="FilterManagementType" name="ManagementType">
                        Management Type</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterWarehouseDescription" name="WarehouseDescription">
                        Warehouse Description</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterWarehouseManager" name="WarehouseManagerName">
                        Warehouse Manager</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterWarehouseManagerFaxNumber" name="WarehouseManagerFax">
                        WM Fax Number</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterWarehouseManagerEmailAddress" name="WarehouseManagerEmail">
                        WM Email Address</label>
                    </div>
                    <div class="checkbox">
                            <label>
                        <input type="checkbox" class="styled" id="FilterIsActive" name="IsActive">
                        Status</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-success" obo-save>Save</button>
                <button ty[e="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
