<td>
    <%= ProductName %>
</td>
<td>
    <%= ProductCode %>
</td>
<td>
    <%
    print( ( Customer && Customer.CustomerName ) || '');
    %>
</td>
<td class="text-default">
    <%
        print(IsDangerousGoods? 'Yes': 'No')
    %>
</td>
<td>
  <%= UnitValue %>
</td>

<td>
    <a href="/#products/detail/<%= ProductID %>/product_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
