<div class="modal-dialog">  
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter <small class="padding-sm">Pick 5 filters</small>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="CustomerNo">
                            Customer Number
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"name="CustomerName">
                            Customer Name
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="CustomerTradingAs">
                            Trading As
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="AccountNo">
                            Account Number
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="CustomerABN">
                            ABN
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="CustomerACN">
                            ACN
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="AccountName">
                            Account Owner
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="DateStart">
                            Date Started
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="TagName">
                            Tag
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Phone">
                            Phone Number
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Mobile">
                            Mobile Number
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Fax">
                            Fax Number
                        </label>
                    </div>
                    <div class="checkbox">
                        
                        <label>
                            <input type="checkbox" name="PaymentTermName">
                            Account Terms
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="CreditLimit">
                            Credit Limit
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="InvoiceEmail">
                            Invoice Email Address
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="FreightPayableName">
                            Freight Payable by
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="PodEmail">
                            POD Email Address
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="IsActive">
                            Status
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" obo-save>Save</button>
            <button ty[e="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
