<div class="row">
    <div class="col-md-12">
        <h4>View Storge Transfer</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date </label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= Date %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Product Name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= ProductName %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Source</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= Source %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Destination</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= Destination %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Source Stock Available</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= SourceStockAvailable %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Destination Stock Available</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= DestinationStockAvailable %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Transfer Quantity</label>
                    <div class="col-sm-8">
                        <p class="form-control-static text-muted"><%= TransferQuantity %></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-default btn-rounded-deep">BACK</a>
                    <a href="<%= _getCurrentHash() %>/edit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">EDIT</a>
                </div>
            </div>
        </div>
    </div>
</div>
