<!-- scripts/app/configuration/dangerous_goods/add/template -->
<h4 class="page-header">Add Dangerous Goods</h4>
<div class="card">
    <form class="card-block row">
        <div class="col-md-6">
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">UN Number<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <input class="form-control form-control-lg">
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Class<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <input class="form-control form-control-lg">
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Sub Risk</h5>
                <div class="col-md-8">
                    <input class="form-control form-control-lg">
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Hazchem<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <input class="form-control form-control-lg">
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">UN Number<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <textarea rows="3" class="form-control form-control-lg"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right">
                <p>SAVE</p>
            </a>
            <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right" href="<%= _getCurrentHashOmitSuffix(1) %>">
                <p>CANCEL</p>
            </a>
        </div>

    </form>
</div>
