<td>
    <%= ShipmentFrom %>
</td>
<td>
    <%= ShipmentTo %>
</td>
<td>
    <%= OrderNumber %>
</td>
<td>
     <%= Quantity %>
</td>
<td>
    <%= ShippingDate %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= ConsignmentID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
