<thead>
    <tr class="bg-blue">
        <th>SHIPMENT FROM <span class="pull-right" data-parampaging-sortfield="ShipmentFrom"></span></th>
        <th>SHIPMENT TO <span class="pull-right" data-parampaging-sortfield="ShipmentTo"></span></th>
        <th>ORDER NUMBER <span class="pull-right" data-parampaging-sortfield="OrderNumber"></span></th>
        <th>QUANTITY <span class="pull-right" data-parampaging-sortfield="Quantity"></span></th>
        <th>SHIPPING DATE <span class="pull-right" data-parampaging-sortfield="ShippingDate"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
