<!-- scripts/app/customers/detail/Senderandreceivers/detail -->
<div class="row header">
    <div class="col-lg-12">
        <h4 name="SendersReceiversName" class="margin-bottom-sm">Senders & Receivers</h4>
    </div>
</div>
<div class="jarviswidget jarviswidget-sortable" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
    data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget">
    <!-- <header role="heading" class="ui-sortable-handle">
    
    </header> -->
    <div class="no-padding" role="content">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in padding-10 no-padding-bottom">
                <div class="card-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">First Name</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= FirstName %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Last Name</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= LastName %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Address 1</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= Address1 %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Address 2</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= Address2 %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <p class="form-control-static text-muted">
                                            <%= Country %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <p class="form-control-static text-muted">
                                            <%= Postcode %>,
                                                <%= State %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <p class="form-control-static text-muted">
                                            <%= City %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Email Address</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= Email %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Phone Number</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= PhoneNumber %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Account Code</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-muted">
                                            <%= AccountCode %>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Status</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-<%= IsActive ? 'success':'warning' %>">
                                            <%= IsActive ? 'Active':'Not Active' %>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 pull-right">
                                <div class="pull-right">
                                    <a href="<%= _getCurrentHashOmitSuffix(3) %>" class="btn btn-default btn-rounded-deep btn-s btn-blues-hover text-grey">Back</a>
                                <a href="<%= _getCurrentHash() %>edit" class="btn btn-success btn-rounded-deep btn-s btn-blues-hover text-grey">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>