<!-- scripts/app/customers/modaldialogeditfilter -->
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter
                <div class="h7">Pick 5 filters</div>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCustomerNo" name="CustomerNo">
                        <label for="FilterCustomerNo">Customer Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCustomerName" name="CustomerName">
                        <label for="FilterCustomerName">Customer Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCustomerTradingAs" name="CustomerTradingAs">
                        <label for="FilterCustomerTradingAs">Trading As</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterAccountNo" name="AccountNo">
                        <label for="FilterAccountNo">Account Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCustomerABN" name="CustomerABN">
                        <label for="FilterCustomerABN">ABN</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCustomerACN" name="CustomerACN">
                        <label for="FilterCustomerACN">ACN</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterAccountName" name="AccountName">
                        <label for="FilterAccountName">Account Owner</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterDateStart" name="DateStart">
                        <label for="FilterDateStart">Date Started</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterTagName" name="TagName">
                        <label for="FilterTagName">Tag</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterPhone" name="Phone">
                        <label for="FilterPhone">Phone Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterMobile" name="Mobile">
                        <label for="FilterMobile">Mobile Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterFax" name="Fax">
                        <label for="FilterFax">Fax Number</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterPaymentTermName" name="PaymentTermName">
                        <label for="FilterPaymentTermName">Account Terms</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterCreditLimit" name="CreditLimit">
                        <label for="FilterCreditLimit">Credit Limit</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterInvoiceEmail" name="InvoiceEmail">
                        <label for="FilterInvoiceEmail">Invoice Email Address</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterFreightPayableName" name="FreightPayableName">
                        <label for="FilterFreightPayableName">Freight Payable by</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterPodEmail" name="PodEmail">
                        <label for="FilterPodEmail">POD Email Address</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterIsActive" name="IsActive">
                        <label for="FilterIsActive">Status</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" obo-save>SAVE</button>
            <button ty[e="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>
