<div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted">Edit Filter <small class="padding-sm">Pick 5 filters</small>
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" class="styled" id="FilterCustomerNo" name="CustomerNo">
                            Customer Number</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterCustomerName" name="CustomerName">
                            Customer Name</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterCustomerTradingAs" name="CustomerTradingAs">
                            Trading As</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterAccountNo" name="AccountNo">
                            Account Number</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterCustomerABN" name="CustomerABN">
                            ABN</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterCustomerACN" name="CustomerACN">
                            ACN</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterAccountName" name="AccountName">
                            Account Owner</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterDateStart" name="DateStart">
                            Date Started</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterTagName" name="TagName">
                            Tag</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterPhone" name="Phone">
                            Phone Number</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterMobile" name="Mobile">
                            Mobile Number</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterFax" name="Fax">
                            Fax Number</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterPaymentTermName" name="PaymentTermName">
                            Account Terms</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterCreditLimit" name="CreditLimit">
                            Credit Limit</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterInvoiceEmail" name="InvoiceEmail">
                            Invoice Email Address</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterFreightPayableName" name="FreightPayableName">
                            Freight Payable by</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterPodEmail" name="PodEmail">
                            POD Email Address</label>
                        </div>
                        <div class="checkbox">
                            <label >
                            <input type="checkbox" class="styled" id="FilterIsActive" name="IsActive">
                            Status</label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-success" obo-save>Save</button>
                <button ty[e="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
