<thead>
    <tr class="bg-blue">
        <th>RECEIVED DATE <span class="pull-right" data-parampaging-sortfield="ReceiveDate"></span></th>
        <th>REASON <span class="pull-right" data-parampaging-sortfield="Reason"></span></th>
        <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="ProductName"></span></th>
        <th>UNIT VALUE <span class="pull-right" data-parampaging-sortfield="UnitValue"></span></th>
        <th>GOODS CONDITION <span class="pull-right" data-parampaging-sortfield="GoodCondition"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
