<td>
    <%= DepotIDName %>
</td>
<td>
    <%= DepotName %>
</td>
<td>
    <%= DepotAddress %>
</td>
<td>
     <%= DMName %>
</td>
<td>
    <%= Status %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= DepotID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
