<thead>
    <tr class="bg-blue">
        <th>DEPOT ID <span class="pull-right" data-parampaging-sortfield="DepotIDName"></span></th>
        <th>DEPOT NAME <span class="pull-right" data-parampaging-sortfield="DepotName"></span></th>
        <th>DEPOT ADDRESS 1 <span class="pull-right" data-parampaging-sortfield="DepotAddress"></span></th>
        <th>DM NAME <span class="pull-right" data-parampaging-sortfield="DMName"></span></th>
        <th>STATUS <span class="pull-right" data-parampaging-sortfield="Status"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
