<td><%= AddressType.AddressTypeName %></td>
<td><%= Address1 %></td>
<td><%= Country %></td>
<td><%= State %></td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
  <%
      print(IsActive? 'Active': 'Not active')
  %>
</td>
