<!-- filter -->
<!-- example template  -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="CustomerNumber">
        <div class="form-group">
            <label class="sr-only" for="CustomerNumber">Customer Number</label>
            <input type="text" class="form-control" id="CustomerNumber" name="CustomerNumber" placeholder="Customer Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerName">
        <div class="form-group">
            <label class="sr-only" for="CustomerName">Customer Name</label>
            <input type="text" class="form-control" id="CustomerName" name="CustomerName" placeholder="Customer Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="TradingAs">
    	<div class="form-group">
    		<label class="sr-only" for="TradingAs"></label>
    		<input type="text" class="form-control" id="TradingAs" name="TradingAs" placeholder="Trading As">
    	</div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AccountOwner.AccountNo">
        <div class="form-group">
            <label class="sr-only" for="AccountOwner.AccountNo">Account Number</label>
            <input type="text" class="form-control" id="AccountOwner.AccountNo" name="AccountOwner.AccountNo" placeholder="Account Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ABN">
    	<div class="form-group">
    		<label class="sr-only" for="ABN">ABN</label>
    		<input type="text" class="form-control" id="ABN" name="ABN" placeholder="ABN">
    	</div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ACN">
        <div class="form-group">
            <label class="sr-only" for="ACN">ACN</label>
            <input type="text" class="form-control" id="ACN" name="ACN" placeholder="ACN">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="AccountOnwer.AccountOwnerID">
        <div class="form-group">
            <label class="sr-only" for="AccountOnwer.AccountOwnerID">Account Owner</label>
            <select class="form-control" id="AccountOnwer.AccountOwnerID" name="AccountOnwer.AccountOwnerID">
                <option selected disabled>Account Owner</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="DateStarted">
    	<div class="form-group">
    		<label class="sr-only" for="DateStarted">Date Started</label>
    		<input type="text" class="form-control" id="DateStarted" name="DateStarted" placeholder="DateStarted">
    	</div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ListCustomerTag">
        <div class="form-group">
            <label class="sr-only" for="ListCustomerTag">Tag</label>
            <select class="form-control" id="ListCustomerTag" name="ListCustomerTag">
            </select>
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="PhoneNumber">
    	<div class="form-group">
    		<label class="sr-only" for="PhoneNumber">Phone Number</label>
    		<input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="MobileNumber">
    	<div class="form-group">
    		<label class="sr-only" for="MobileNumber">Mobile Number</label>
    		<input type="text" class="form-control" id="MobileNumber" name="MobileNumber" placeholder="Mobile Number">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="FaxNumber">
    	<div class="form-group">
    		<label class="sr-only" for="FaxNumber">Fax Number</label>
    		<input type="text" class="form-control" id="FaxNumber" name="FaxNumber" placeholder="Fax Number">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="AccountTerms">
    	<div class="form-group">
    		<label class="sr-only" for="AccountTerms">Account Terms</label>
    		<input type="text" class="form-control" id="Account Terms" name="AccountTerms" placeholder="Account Terms">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="CreditLimit">
    	<div class="form-group">
    		<label class="sr-only" for="CreditLimit">Credit limit</label>
    		<input type="text" class="form-control" id="CreditLimit" name="CreditLimit" placeholder="Credit Limit">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="InvoiceEmailAddress">
    	<div class="form-group">
    		<label class="sr-only" for="InvoiceEmailAddress"></label>
    		<input type="text" class="form-control" id="InvoiceEmailAddress" name="InvoiceEmailAddress" placeholder="Invoice Email Address">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="FreightPayableBy">
    	<div class="form-group">
    		<label class="sr-only" for="FreightPayableBy">Freight Payable By</label>
    		<input type="text" class="form-control" id="FreightPayableBy" name="FreightPayableBy" placeholder="Freight Payable By">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="PODEmailAddress">
    	<div class="form-group">
    		<label class="sr-only" for="PODEmailAddress">POD Email Address</label>
    		<input type="text" class="form-control" id="PODEmailAddress" name="PODEmailAddress" placeholder="PODEmailAddress">
    	</div>
    </div>

    <div class="col-md-2 hide" data-filter-name="IsActive">
        <div class="form-group">
            <label class="sr-only" for="IsActive">Status</label>
            <select class="form-control" id="IsActive" name="IsActive">
                  <option></option>
                  <option value="true">Active</option>
                  <option value="false">Not Active</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
        </div>
    </div>
</form>
