[obo-paging] > ul.pagination > li > span {
	padding-top: 2px;
	padding-bottom: 2px;
}

a[disabled],
.pagination > li > a[disabled]{
	color: gray;
	pointer-events: none;
}
.btn-sorting{
	padding-top: 0;
	padding-bottom: 0;
}

.ui-sortable-handle .btn-group
{
	margin-left: 1em !important;
	margin-bottom:6px;
}
.margin-bottom{
	margin-bottom:6px;
}


header.list[role="heading"] {
	height: 3em;
}

.padding-sm{
	padding:1em;
}

.margin-bottom-sm{
	margin-bottom:0.6em;
}
.table-hover > tbody > tr:hover {
	cursor: pointer;
}
.jarviswidget>div[obo-table]{
	border-bottom: 0px;
}
#header {
	height: 54px;
}