<thead>
    <tr class="bg-blue">
        <th>Customer Name <span data-parampaging-sortfield="CustomerName"></span></th>
        <th>Account Number <span data-parampaging-sortfield="AccountNo"></span></th>
        <th>Account Owner <span data-parampaging-sortfield="AccountName"></th>
        <th>Tags <span data-parampaging-sortfield="ListCustomerTag"></span></th>
        <th>Status <span data-parampaging-sortfield="IsActive"></span></th>
    </tr>
</thead>
<tbody></tbody>
