<div class="col-md-2 hide" data-filter-name="insertdate">
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="insertdate">Date</label>
            <input type="text" class="form-control" id="insertdate" name="insertdate" bootstrap-datetimepicker="true" placeholder="Date">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
            </span>
        </div>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="productname">
    <div class="form-group">
        <label class="sr-only" for="productname">Product Name</label>
        <select class="form-control" id="productname" name="productname">
            <option selected disabled>Product Name</option>
        </select>

    </div>
</div>
<div class="col-md-2 hide" data-filter-name="sourcelocationcode">
    <div class="form-group">
        <label class="sr-only" for="sourcelocationcode">Source</label>
        <select class="form-control" id="sourcelocationcode" name="sourcelocationcode">
            <option selected disabled>Source</option>
        </select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="destinationlocationcode">
    <div class="form-group">
        <label class="sr-only" for="destinationlocationcode">Destination</label>
        <select class="form-control" id="destinationlocationcode" name="destinationlocationcode">
            <option selected disabled>Destination</option>
        </select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="sourcestockavailable">
    <div class="form-group">
        <label class="sr-only" for="sourcestockavailable">Source Stock Available</label>
        <select class="form-control" id="sourcestockavailable" name="sourcestockavailable">
            <option selected disabled>Source Stock Available</option>
        </select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="destinationstockavailable">
    <div class="form-group">
        <label class="sr-only" for="destinationstockavailable">Destination Stock Available</label>
        <select class="form-control" id="destinationstockavailable" name="destinationstockavailable">
            <option selected disabled>Destination Stock Available</option>
        </select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="transferqty">
    <div class="form-group">
        <label class="sr-only" for="transferqty">Transfer Quantity</label>
        <input class="form-control" id="transferqty" name="transferqty" placeholder="Transfer Quantity">
    </div>
</div>
<div class="col-md-2 pull-md-right" data-filter-type="reset">
    <div class="form-group center">
        <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
    </div>
</div>
