<div id="logo-group">
    <span id="logo"> <img src="/scripts/img/logo.png" alt="Logistical"> </span>
</div>
<div class="pull-right">
    <ul class="nav navbar-nav mr-auto pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="#"><img class="icon22 log_alerts" src="/Scripts/img/log_tasks.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img class="icon22 log_alerts" src="/Scripts/img/log_alerts.png"></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">
              <img src="/Scripts/img/people.png" alt="Avatar" class="img-circle" width="28"> <span name="firstName">Logistical</span>
          </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Log out">
                <button class="dropdown-item" obo-logout="">Logout</button>
            </div>
        </li>
    </ul>
</div>