<td><%= FirstName %></td>
<td><%= LastName %></td>
<td><%= Country %></td>
<td><%= AccountCode %></td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
  <%
      print(IsActive? 'Active': 'Not active')
  %>
<td class="center">
    <a href="<%= _getCurrentHash() %>/detail/<%= SenderAndReceiverID %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
