<thead>
    <tr class="bg-blue">
      <th>FIRST NAME <span class="pull-right" data-parampaging-sortfield="FirstName"></th>
      <th>LAST NAME <span class="pull-right" data-parampaging-sortfield="LastName"></th>
      <th>COUNTRY <span class="pull-right" data-parampaging-sortfield="Country"></th>
      <th>ACCOUNT CODE <span class="pull-right" data-parampaging-sortfield="AccountCode"></th>
      <th>STATUS <span class="pull-right" data-parampaging-sortfield="IsActive"></th>
      <th class="action center">ACTION</th>
    </tr>
</thead>
<tbody></tbody>
