<thead>
    <tr class="bg-blue">
        <th>ADDRESS TYPE <span class="pull-right" data-parampaging-sortfield="AddressTypeName"></th>
        <th>ADDRESS 1 <span class="pull-right" data-parampaging-sortfield="Address1"></th>
        <th>COUNTRY <span class="pull-right" data-parampaging-sortfield="Country"></th>
        <th>STATE <span class="pull-right" data-parampaging-sortfield="State"></th>
        <th class="center">STATUS <span class="pull-right" data-parampaging-sortfield="IsActive"></th>
        <th class="center">ACTION</th>
    </tr>
</thead>
<tbody></tbody>
