<div class="row">
    <div class="col">
        <a href="/storage_location_information" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Storage Location Information</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/storage_balance" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Storage Balance</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/storage_history" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Storage History</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/storage_transfers" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Storage Transfers</h6>
                </div>
            </div>
        </a>
    </div>
</div>
