<!-- scripts/app/customers/detail/contacts/modaldialogeditfilter -->
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter
                <div class="h7">Pick 5 filters</div>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterDate" name="insertdate">
                        <label for="FilterDate">Date</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterProductName" name="productname">
                        <label for="FilterProductName">Product Name</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSource" name="sourcelocationcode">
                        <label for="FilterSource">Source</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterDestinationLocationCode" name="destinationlocationcode">
                        <label for="FilterDestinationLocationCode">Destination</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterSourceStockAvailable" name="sourcestockavailable">
                        <label for="FilterSourceStockAvailable">Source Stock Available</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterDestincationStockAvailable" name="destinationstockavailable">
                        <label for="FilterDestincationStockAvailable">Destination Stock Available</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class="styled" id="FilterTransferQuantity" name="transferqty">
                        <label for="FilterTransferQuantity">Transfer Quantity</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" obo-save>SAVE</button>
            <button ty[e="button" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey pull-xs-right" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>
