<header class="ui-sortable-handle" role="heading">
        <h2>Add Inward Goods</h2>
    </header>
    <div role="content">
        <div class="widget-body">
            <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ReceivedDate">Received Date</label>
                        <div class=" col-sm-8">
                            <div class="input-group">
                                <input class="form-control" id="ReceivedDate" name="ReceivedDate">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary calendar" type="button"><span class="fa fa-calendar"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ReasonID">Reason</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ReasonID" name="ReasonID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ConsignorID">Consignor</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ConsignorID" name="ConsignorID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8" obo-view="error1">
                            <input class="form-control" id="address1" name="Address1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address2">Address 2</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="address2" name="Address2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                          <select class="form-control" id="address" name="CountryID">
                              </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Postcode"></label>
                        <div class="col-sm-4">
                            <input class="form-control" id="Postcode" name="Postcode" type="text">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="State" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="City"></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="City" name="City" type="text" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductNumberID">Product Number</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ProductNumberID" name="ProductNumberID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductName">Product Name <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ProductName" name="ProductName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductCode">Product Code <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="ProductCode" name="ProductCode" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="GoodsConditionID">Goods Condition</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="GoodsConditionID" name="GoodsConditionID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="UnitValue">Unit Value</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="UnitValue" name="UnitValue">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="StatusID">Status</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="StatusID" name="StatusID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="StorageLocationID">Storage Location</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="StorageLocationID" name="StorageLocationID">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 margin-top-30">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label"><strong>Product Details</strong></label>
                    </div>
                    <table class="table">
                        <thead>
                            <tr class="bg-blue">
                                <th>Product Category</th>
                                <th>Length</th>
                                <th>Width</th>
                                <th>Height</th>
                                <th>Cubic Meters</th>
                                <th>Goods Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:#8098a4;">
                                <td>Electronics</td>
                                <td>10</td>
                                <td>0.32 m</td>
                                <td>0.71 m</td>
                                <td>10 m<sup>3</sup></td>
                                <td>
                                    <p>Dangerous Good : No</p>
                                    <p>Fragile Goods : Yes</p>
                                    <p>Perishable Goods : No</p>
                                    <p>Temperature Sensiteve : No</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 pull-right">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" data-style="expand-right" obo-dosave><span class="ladda-label">Save</span></button>
                            <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
