<!-- scripts/app/product/filter -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="ProductNumber">
        <div class="form-group">
            <input type="text" class="form-control" name="ProductNumber" placeholder="Product Number">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductCategory">
        <div class="form-group">
            <select class="form-control" name="ProductCategoryName">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductName">
        <div class="form-group">
            <input type="text" class="form-control" name="ProductName" placeholder="Product Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductCode">
        <div class="form-group">
            <input type="text" class="form-control" name="ProductCode" placeholder="Product Code">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductDescription">
        <div class="form-group">
            <input type="text" class="form-control" name="ProductDescription" placeholder="Product Description">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CustomerID">
        <div class="form-group">
            <select class="form-control" name="CustomerName"></select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Brand">
        <div class="form-group">
            <input type="text" class="form-control" name="Brand" placeholder="Brand">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MadeIn">
        <div class="form-group">
            <input type="text" class="form-control" name="MadeIn" placeholder="Made In">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Supplier">
        <div class="form-group">
            <input type="text" class="form-control" name="Supplier" placeholder="Supplier">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="SKU">
        <div class="form-group">
            <input type="text" class="form-control" name="SKU" placeholder="SKU">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Manufacturer">
        <div class="form-group">
            <input type="text" class="form-control" name="Manufacturer" placeholder="Manufacturer">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManufacturerProductName">
        <div class="form-group">
            <input type="text" class="form-control" name="ManufacturerProductName" placeholder="Manufacturer Product Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManufacturerProductCode">
        <div class="form-group">
            <input type="text" class="form-control" name="ManufacturerProductCode" placeholder="Manufacturer Product Code">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ManufacturerLeadTime">
        <div class="form-group">
            <select class="form-control" name="ManufacturerLeadTime">
                <option selected disabled>Manufacturer Lead Time</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="SKUType">
        <div class="form-group">
            <select class="form-control" name="SKUType">
                <option selected disabled>SKU Type</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductPackUnit">
        <div class="form-group">
            <select class="form-control" name="ProductPackUnit">
                <option selected disabled>Product Pack Unit</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="StorageChargeUnit">
        <div class="form-group">
            <select class="form-control" name="StorageChargeUnit">
                <option selected disabled>Storage Charge Unit</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="StorageChargePer">
        <div class="form-group">
            <select class="form-control" name="StorageChargePer">
                <option selected disabled>Storage Charge Per</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="TransportChargeUnit">
        <div class="form-group">
            <select class="form-control" name="TransportChargeUnit">
                <option selected disabled>Transport Charge Unit</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Length">
        <div class="form-group">
            <input type="text" class="form-control" name="Length" placeholder="Length">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Width">
        <div class="form-group">
            <input type="text" class="form-control" name="Width" placeholder="Width">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Height">
        <div class="form-group">
            <input type="text" class="form-control" name="Height" placeholder="Height">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="CubicMetres">
        <div class="form-group">
            <input type="text" class="form-control" name="CubicMetres" placeholder="Cubic Metres">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Weight">
        <div class="form-group">
            <input type="text" class="form-control" name="Weight" placeholder="Weight">
        </div>
    </div>

    <div class="col-md-2 hide" data-filter-name="ProductColor">
        <div class="form-group">
            <input type="text" class="form-control" name="ProductColor" placeholder="Product Color">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsDangerousGoods">
        <div class="form-group">
            <select class="form-control" name="IsDangerousGoods" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="UnitValue">
        <div class="form-group">
            <input type="text" class="form-control" name="UnitValue" placeholder="Unit Value">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsFragileGoods">
        <div class="form-group">
            <select class="form-control" name="IsFragileGoods" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsPerishableGoods">
        <div class="form-group">
            <select class="form-control" name="IsPerishableGoods" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="IsTemperatureSensitive">
        <div class="form-group">
            <select class="form-control" name="IsTemperatureSensitive" getbyvalueonly="true">
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="MinimumStockLevel">
        <div class="form-group">
            <input type="text" class="form-control" name="MinimumStockLevel" placeholder="Minimum Stock Level">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter>Clear Filter</button>
        </div>
    </div>
</form>
