<div class="row">
    <div class="col">
        <a href="/my_tasks" class="bs-callout-active">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">My Tasks</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/all_tasks" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">All Tasks</h6>
                </div>
            </div>
        </a>
    </div>
</div>
