<!-- scripts/app/customers/detail/invoices -->
<div class="container-fluid">
    <div class="row margin-bottom-1rem">
        <div class="col-md-10 col-md-10">
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Filter</strong>
                </button>
                <div class="dropdown-menu" aria-labelledby="filter">
                    <button class="btn dropdown-item text-muted" type="button">Default</button>
                    <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
                </div>
            </div>
        </div>
    </div>
    <form class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="ordernumber">Invoice Number</label>
                <input type="number" class="form-control" id="invoicenumber" placeholder="Invoice Number">
            </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input class="form-control" id="DateCreated" name="DateCreated" date>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><span class="fa fa-calendar"></span></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="shippingaddress">Invoice To</label>
                <input type="text" class="form-control" id="invoiceto" placeholder="Invoice To">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="AccountTerms">Account Terms</label>
                <select class="form-control" id="AccountTerms" name="AccountTerms">
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="status">Status</label>
                <select class="form-control" id="status" name="status">
                  <option selected disabled>Status</option>
                  <option>Status A</option>
                  <option>Status B</option>
                  <option>Status C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group center">
                <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="bg-blue">
                        <th>INVOICE NUMBER <span class="pull-right"><i class="fa fa-caret-up position-absolute isactive" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>DATE CREATED <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>INVOICE TO <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>ACCOUNT TERMS <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>TOTAL AUDS <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>STATUS <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th class="action center">ACTION</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="hover text-grey">
                    <!-- <tr>
                        <td>00285678</td>
                        <td>Jan 01 2017</td>
                        <td>Snap Electronic</td>
                        <td>7 Days from Invoice</td>
                        <td>AUD$ 1,000.00</td>
                        <td class="center"><button class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">Unpaid</button></td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/1" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                        <td class="center">
                            <button class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">Send</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00285678</td>
                        <td>Jan 01 2017</td>
                        <td>Snap Electronic</td>
                        <td>7 Days from Invoice</td>
                        <td>AUD$ 1,000.00</td>
                        <td class="center"><button class="btn btn-success btn-rounded-deep btn-s btn-blues-hover">Paid</button></td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/1" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                        <td class="center">
                            <button class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">Resend</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="center" aria-label="Page navigation">
                <b>1-4 of 45</b>
                <button class="btn btn-link text-grey disabled" type="button" tabindex="-1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>
                <button class="btn btn-link" type="button" tabindex="-1">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
            </nav>
        </div>
    </div>
</div>
