<li class="active">
    <a href="<%= _getCurrentHashOmitSuffix(1) %>/warehouse_profile"><span>Warehouse Profile</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix(1) %>/storage_location" ><span>Storage Location</span></a>
</li>
