<!-- scripts/app/configuration/depot/add/template -->
<h1 class="page-header">Add Depot</h1>

<div class="card">
  <form class="card-block row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">Warehouse<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Select Warehouse</option>
            <option value="2">Select Warehouse</option>
            <option value="3">Select Warehouse</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Depot ID</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Depot Name<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Depot Address 1<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Depot Address 2</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Select Country<i class="text-danger">*</i></option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-4">
            <input class="form-control form-control-lg" placeholder="Postcode*">
        </div>
        <div class="col-md-4">
            <input class="form-control form-control-lg" placeholder="State*">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="City*">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Phone Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Fax Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Email Address</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">DM Name<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Select DM Name</option>
            <option value="2">Select DM Name</option>
            <option value="3">Select DM Name</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">DM Address 1<i class="text-danger">*</i></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">DM Address 2</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Select Country<i class="text-danger">*</i></option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-4">
            <input class="form-control form-control-lg" placeholder="Postcode*">
        </div>
        <div class="col-md-4">
            <input class="form-control form-control-lg" placeholder="State*">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="City*">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">DM Phone Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">DM Fax Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">DM Email Address</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Status</label>
        <div class="col-md-8">
          <p>Active</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <a class="btn btn-secondary btn-rounded-deep btn-blues-hover text-grey pull-right">SAVE</a>
      <a class="btn btn-secondary btn-rounded-deep btn-blues-hover text-grey pull-right" href="<%= _getCurrentHashOmitSuffix(1) %>">CANCEL</a>
    </div>

  </form>
</div>
