<!-- scripts/app/products/detail/orders/detail/viewstocbalance -->
<div class="row">
    <div class="col-md-12">
        <h4>View Stock Balance</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Mode Of Balance</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Quantity Balance</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 21, 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Account</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Manager</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Balance Information</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Stolen Goods</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Warehouse</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Company 2</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Balanced by</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Zachary Tedbury</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Name</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">WO Electronics 49LH5700 50 inch 1060p</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Current Quantity</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">10</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Latest Quantity</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">10</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Quantity Balanced</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">20</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
