<thead>
    <tr class="bg-blue">
      <th>First Name <span data-parampaging-sortfield="FirstName"></th>
      <th>Last Name <span data-parampaging-sortfield="LastName"></th>
      <th>Country<span data-parampaging-sortfield="Country"></th>
      <th>Account Code <span data-parampaging-sortfield="AccountCode"></th>
      <th>Status<span data-parampaging-sortfield="IsActive"></th>
    </tr>
</thead>
<tbody></tbody>
