<!-- scripts/app/storage/add -->
<div class="row">
    <div class="col-md-12">
        <h4>Add Warehouse</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseOwnerID">Warehouse Owner</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="WarehouseOwnerID" name="WarehouseOwnerID"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="warehouseName">Warehouse Name <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="warehouseName" name="WarehouseName" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8" obo-view="error1">
                            <input class="form-control" id="address1" name="Address1" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address2">Address 2</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="address2" name="Address2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                          <select class="form-control" id="address" name="CountryID">
                              </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input class="form-control" id="PostCode" name="PostCode" disabled="disabled" type="text" placeholder="Post Code">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="State" disabled="disabled" type="text" placeholder="State">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <input class="form-control" id="City" name="City" type="text" disabled="disabled" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Phone">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Phone" name="Phone" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Fax">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Fax" name="Fax" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Email">Email Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Email" name="Email" type="email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagementTypeID">Management Type <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="WarehouseManagementTypeID" name="WarehouseManagementTypeID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseDescription">Warehouse Description <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="WarehouseDescription" name="WarehouseDescription" rows="5" maxlength="500" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerID">Warehouse Manager <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="WarehouseManagerID" name="WarehouseManagerID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerPhoneNumber">WM Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="WarehouseManagerPhoneNumber" name="WarehouseManagerPhoneNumber" disabled="disabled" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerFaxNumber">WM Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="WarehouseManagerFaxNumber" name="WarehouseManagerFaxNumber" disabled="disabled" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerEmailAddress">WM Email Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="WarehouseManagerEmailAddress" name="WarehouseManagerEmailAddress" type="email" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Status</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Active</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                        <button type="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" data-style="expand-right" obo-dosave><span class="ladda-label">SAVE</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
