<!-- scripts/app/customers/detail/Contact/add -->

<div class="row">
    <div class="col-md-12">
        <h4>Edit Stock Transfer</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <form class="container-fluid" obo-form>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Date">Date <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="input-group col-sm-8">
                      <input class="form-control" id="Date" name="Date" required>
                      <span class="input-group-btn">
                        <button class="btn btn-secondary calendar" type="button"><span class="fa fa-calendar"></span></button>
                      </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="ProductName">Product Name <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-8">
                        <select class="form-control" id="ProductName" name="ProductName" required>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Source1">Source <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="Source1" name="Source1" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="Source2" name="Source2" required>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Destination1">Destination <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="Destination1" name="Destination2" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="Source2" name="Source2" required>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="SourceStockAvailable">Source Stock Available</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="SourceStockAvailable" name="SourceStockAvailable" value="<%= SourceStockAvailable %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="DestinationStockAvailable">Destination Stock Available</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="DestinationStockAvailable" name="DestinationStockAvailable" value="<%= DestinationStockAvailable %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="TransferQuantity">Transfer Quantity <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="TransferQuantity" name="TransferQuantity" value="<%= TransferQuantity %>" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                    <button type="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" data-style="expand-right" obo-dosave><span class="ladda-label">SAVE</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
