<div class="row">
    <div class="col">
        <a href="/warehouse_profile" class="bs-callout-active">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Warehouse Profile</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/storage_location" class="bs-callout">
            <div class="card ">
                <div class="card-block">
                    <h6 class="middle-card">Storage Location</h6>
                </div>
            </div>
        </a>
    </div>
</div>
