<!-- scripts/app/customers/detail/addresses/detail -->

<div class="row">
    <div class="col-md-12">
        <h4>View Manual Invoice</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Invoice Number </label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">#00123456</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Create Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">mm dd yyyy</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Customer Name</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted"> 3WO </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Account Terms</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">7 Days from Invoice</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Summary</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">7 Days from Invoice</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Warehouse</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Company 1</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Warehouse Manager</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Toby Pearce</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Invoice To</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Sliver Electronic</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">4 Brown Street</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">2060, NSW</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Sydney</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">0812 23 3456</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Fax Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">0812 23 3456</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">E-mail Address</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">silver_electronic@domain.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 margin-top-30">
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Currency</label>
                      <div class="col-sm-8">
                          <p class="form-control-static text-muted">Australian Dollar AUD$</p>
                      </div>
                  </div>
                  <table class="table">
                    <thead>
                      <tr class="bg-blue">
                        <th>NO.</th>
                        <th>PRODUCT NAME</th>
                        <th>QUANTITY</th>
                        <th>RATE AUDS</th>
                        <th>DISCOUNT</th>
                        <th>SUBTOTAL AUD$</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="color:#8098a4;">
                        <th scope="row">1</th>
                        <td>WO Electronics 49LH5700 50 inchi 1060p</td>
                        <td>10</td>
                        <td>600.00</td>
                        <td>0 %</td>
                        <td>660.00</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="form-group row">
                      <label class="col-sm-2 col-md-offset-8 col-form-label">Pre-tax Subtotal AUD$</label>
                      <div class="col-sm-2">
                          <p class="form-control-static text-muted">660.00</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-md-offset-8 col-form-label">Tax Rates</label>
                      <div class="col-sm-2">
                          <p class="form-control-static text-muted">10%</p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-md-offset-8 col-form-label">Total AUDS</label>
                      <div class="col-sm-2">
                          <p class="form-control-static text-muted">660.00</p>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                      <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
