<td>
    <%= UnNumber %>
</td>
<td>
    <%= Class %>
</td>
<td>
    <%= SubRisk %>
</td>
<td>
     <%= Hazchem %>
</td>
<td>
    <%= ChemicalName %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= DangerousGoodsID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
