<td>
    <% print(WarehouseOwner && WarehouseOwner.AccountName) %>
</td>
<td>
    <%= WarehouseName %>
</td>
<td>
    <%= Address1 %>
</td>
<td>
     <% print(WarehouseManager && WarehouseManager.WarehouseManagerName) %>
</td>
<td>
    <% print(IsActive ? 'Active' : 'Not Active'); %>
</td>
