.login img.logistical {
    width: 9.5rem;
}

.login img.freightassist {
    width: 12rem;
}

.login img.success_check, .login img.fail_exclamation {
  width: 0.7rem;
  margin-right: 10px;
}

.login img.success_check {
    content: url('/Scripts/img/log_login_success_check.png');
}

.login img.fail_exclamation {
    content: url('/Scripts/img/log_login_fail_exclamation.png');
}
