<div class="modal-dialog">  
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-muted">Edit Filter <small class="padding-sm">Pick 5 filters</small>
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterProductNumber" name="ProductNumber">
                        Product Number</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterProductCategory" name="ProductCategory">
                        Product Category</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterProductName" name="ProductName">
                        Product Name</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterProductCode" name="ProductCode">
                        Product Code</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterProductDescription" name="ProductDescription">
                        Product Description</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterCustomerID" name="CustomerID">
                        Customer</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterBrand" name="Brand">
                        Brand</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterMadeIn" name="MadeIn">
                        Made In</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterSupplier" name="Supplier">
                        Supplier</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterSKU" name="SKU">
                        SKU</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterManufacturer" name="Manufacturer">
                        Manufacturer</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterManufacturerProductName" name="ManufacturerProductName">
                        Manufacturer Product Name</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterManufacturerProductCode" name="ManufacturerProductCode">
                        Manufacturer Product Code</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterManufactureLeadTimeID" name="ManufactureLeadTimeID">
                        Manufacturer Lead Time</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterSKUTypeID" name="SKUTypeID">
                        SKU Type</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterProductPackUnitID" name="ProductPackUnitID">
                        Product Pack Unit</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterStorageChargeUnit" name="StorageChargeUnit">
                        Storage Charge Unit</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterStorageChargePer" name="StorageChargePer">
                        Storage Charge Per</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterTransportChargeUnit" name="TransportChargeUnit">
                        Transport Charge Unit</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterLength" name="Length">
                        Length</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterWidth" name="Width">
                        Width</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterHeight" name="Height">
                        Height</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterCubicMetres" name="CubicMetres">
                        Cubic Metres</label>
                    </div>
                    <div class="checkbox">
                        <label >
                        <input type="checkbox" class="styled" id="FilterWeight" name="Weight">
                        Weight</label>
                    </div>
                    <div class="checkbox">
                        <label >                     
                        <input type="checkbox" class="styled" id="FilterUnitValue" name="UnitValue">
                        Unit Value</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterProductColor" name="ProductColor">
                        Product Color</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterDangerousGoods" name="IsDangerousGoods">
                        Dangerous Goods</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterIsFragileGoods" name="IsFragileGoods">
                        Fragile Goods</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterIsPerishableGoods" name="IsPerishableGoods">
                        Perishable Goods</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterIsTemperatureSensitive" name="IsTemperatureSensitive">
                        Temperature Sensitive</label>
                    </div>
                    <div class="checkbox">
                            <label >
                        <input type="checkbox" class="styled" id="FilterMinimumStockLevel" name="MinimumStockLevel">
                            Minimum Stock Level</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-success" obo-save>Save</button>
                <button ty[e="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
    </div>
</div>
