<div class="col-md-2 hide" data-filter-name="ContactTypeName">
    <div class="form-group">
        <label class="sr-only" for="ContactTypeName">Contact Type</label>
        <select class="form-control" id="ContactTypeName" name="ContactTypeName" ></select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="FirstName">
    <div class="form-group">
        <label class="sr-only" for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" placeholder="First Name" name="FirstName" pattern="[a-z]{1,15}">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="LastName">
    <div class="form-group">
        <label class="sr-only" for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" placeholder="Last Name" name="LastName" pattern="[a-z]{1,15}">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="PhoneNumber">
    <div class="form-group">
        <label class="sr-only" for="PhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="MobileNumber">
    <div class="form-group">
        <label class="sr-only" for="MobileNumber">Mobile Number</label>
        <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" placeholder="Mobile Number">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="FaxNumber">
    <div class="form-group">
        <label class="sr-only" for="FaxNumber">Fax Number</label>
        <input type="text" class="form-control" id="FaxNumber" name="FaxNumber" placeholder="Fax Number">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Email">
    <div class="form-group">
        <label class="sr-only" for="Email">Email Address</label>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Email Address">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Website">
    <div class="form-group">
        <label class="sr-only" for="Website">Website</label>
        <input type="text" class="form-control" id="Website" name="Website" placeholder="Website">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="SocialMediaName">
    <div class="form-group">
        <label class="sr-only" for="SocialMediaName">Social Media</label>
        <input type="text" class="form-control" id="SocialMediaName" name="SocialMediaName" placeholder="Social Media">
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="IsActive">
    <div class="form-group">
        <label class="sr-only" for="IsActive">Status</label>
        <select class="form-control" id="IsActive" name="IsActive" getbyvalueonly="true"></select>
    </div>
</div>
<div class="col-md-2 pull-md-right" data-filter-type="reset">
    <div class="form-group center">
        <button type="reset" class="btn btn-link" obo-clearfilter> Clear Filter</button>
    </div>
</div>
