<!-- scripts/app/products/product_profile -->
<div class="container-fluid">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Product Number</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ProductNumber); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Product Category</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ProductCategory && ProductCategory.ProductCategoryName); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Product Name</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ProductName); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Product Code</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ProductCode); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Product Description</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ProductDescription); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Customer</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><%
                print( ( Customer && Customer.CustomerName ) || '-'); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Brand</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Brand); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Made In</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(MadeIn); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="acn">Supplier</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Supplier); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">SKU</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Barcode); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Manufacturer</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Manufacture); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Manufacturer Product Name</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ManufactureProductName); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Manufacturer Product Code</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ManufactureProductCode); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Manufacturer Lead Time</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ManufactureLeadTime && ManufactureLeadTime.ManufactureLeadTimeName); %></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
          <label class="col-md-4 col-form-label">SKU Type</label>
          <div class="col-md-8">
              <p class="form-control-static text-muted"><% print(SKUType && SKUType.SKUTypeName); %></p>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-4 col-form-label">Product Pack Unit</label>
          <div class="col-md-8">
              <p class="form-control-static text-muted"><% print((ProductPackUnit && ProductPackUnit.ProductPackUnitName)); %></p>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-4 col-form-label">Storage Charge Unit</label>
          <div class="col-md-8">
              <p class="form-control-static text-muted">
                <% print( ( StorageChargeUnit && StorageChargeUnit.StorageChargeUnitName ) || '-'); %>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-4 col-form-label">Storage Charge Per</label>
          <div class="col-md-8">
              <p class="form-control-static text-muted">
                <% print( ( StorageChargePer && StorageChargePer.StorageChargePerName ) || '-'); %>
              </p>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-4 col-form-label">Transport Charge Unit</label>
          <div class="col-md-8">
              <p class="form-control-static text-muted">
                <% print( ( TransportChargeUnit && TransportChargeUnit.TransportChargeUnitName  ) || '-'); %>
              </p>
          </div>
      </div>
      <% if(SKUType && SKUType.SKUTypeName =='Item'){ %>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Item Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Item per Inner Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemPerInnerQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Inner per Carton Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemPerCartonQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Inner per Carton Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemPerCartonQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Cartons per Pallet Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(QuantityPalletPerCarton); %></p>
            </div>
        </div>
      <% } %>

      <% if(SKUType && SKUType.SKUTypeName =='Carton'){ %>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Inner per Carton Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemPerCartonQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Cartons per Pallet Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(QuantityPalletPerCarton); %></p>
            </div>
        </div>
      <% } %>

      <% if(SKUType && SKUType.SKUTypeName =='Inner'){ %>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Inner per Carton Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemPerCartonQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Inner per Carton Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted">
                  <% print(ItemPerCartonQuantity); %>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Cartons per Pallet Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(QuantityPalletPerCarton); %></p>
            </div>
        </div>
      <% } %>

      <% if(SKUType && SKUType.SKUTypeName =='Pallet'){ %>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Cartons per Pallet Quantity</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(QuantityPalletPerCarton); %></p>
            </div>
        </div>
      <% } %>

      <div class="form-group row">
          <label class="col-md-4 col-form-label">Length</label>
          <div class="col-md-8">
              <p class="form-control-static text-muted"><% print(Length); %> m</p>
          </div>
      </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Width</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Width); %> m</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Height</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Height); %> m</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Cubic Metres</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(Length * Width * Height); %> m<sup>3</sup></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Weight</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(WeightKgs); %> kgs</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Unit Value</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(UnitValue); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Product Color</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(ProductColor); %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Dangerous Goods</label>
            <div class="col-md-8">
                <p class="form-control-static text-default"><% print(IsDangerousGoods ? 'Yes':'No') %></p>
            </div>
        </div>
        <% if(IsDangerousGoods){ %>
          <div class="form-group row">
              <label class="col-md-4 col-form-label"></label>
              <div class="col-md-4">
                  <p class="form-control-static text-muted" DangerousSubRisk><% print(DangerousSubRisk && DangerousSubRisk.SubRiskName); %></p>
              </div>
              <div class="col-md-4">
                  <p class="form-control-static text-muted" DangerousUNNumber><% print(DangerousUNNumber && DangerousUNNumber.UNNumberName); %></p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-4 col-form-label"></label>
              <div class="col-md-4">
                  <p class="form-control-static text-muted" DangerousHazchem><% print(DangerousHazchem && DangerousHazchem.HazchemName); %></p>
              </div>
              <div class="col-md-4">
                  <p class="form-control-static text-muted" DangerousChemicalName><% print(DangerousChemicalName && DangerousChemicalName.ChemicalName); %></p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-4 col-form-label"></label>
              <div class="col-md-8">
                  <p class="form-control-static text-muted" ClassProduct>
                    <%
                    print( ( ClassProduct && ClassProduct.ClassProductName ) || '-');
                    %>
                  </p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-4 col-form-label">Attachment File</label>
              <div class="col-md-4">
                  <a class="form-control-static text-muted" href="<% print(LinkAttachmentUrl) %>" ClassProduct><% print(UrlDangerousAttach) %></a>
              </div>
          </div>
        <% } %>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Fragile Goods</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(IsFragileGoods ? 'Yes':'No') %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Perishable Goods</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(IsPerishableGoods ? 'Yes':'No') %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Temperature Sensitive</label>
            <div class="col-md-8">
                <p class="form-control-static text-default"><% print(IsTemperatureSensitive ? 'Yes':'No') %></p>
            </div>
        </div>
        <% if(IsTemperatureSensitive){ %>
          <div class="form-group row">
              <label class="col-md-4 col-form-label">Maximum Temperature</label>
              <div class="col-md-8">
                  <p class="form-control-static text-muted" ClassProduct><% print(TemperatureValueMax) %> Celcius</p>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-4 col-form-label">Minimum Temperature</label>
              <div class="col-md-8">
                  <p class="form-control-static text-muted" ClassProduct><% print(TemperatureValueMin) %> Celcius</p>
              </div>
          </div>
        <% } %>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="MinimumStockLevel">Minimum Stock Level</label>
            <div class="col-sm-8">
                <p class="form-control-static text-muted"><% print(MinimumStockLevel) %></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Status</label>
            <div class="col-md-8">
                <p class="form-control-static text-muted"><% print(IsActive ? 'Active':'Not Active') %></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-md-right" style="margin-top:22px;">
        <a href="<% print(_getCurrentHash()) %>/edit" class="btn btn-primary">Edit</a>
    </div>
</div>
