<div class="row header">
    <div class="col-md-10">
        <h4>Home</h4>
    </div>
</div>
<!-- <div class="card filter">
    <div class="card-block">
        <div class="row">
            <div class="col-md-8">
                <img src="/Scripts/img/a.jpg" style="width:50px;margin-right:12px;" class="rounded pull-left" alt="...">
                <p class="card-text"><strong>Andy Smith</strong>, picked up order <a link="#">#000001</a><br> 13:00 PM
                </p>
            </div>
            <div class="col-md-4">
                <span class="pull-right"><a href="#" class="card-link">View Detail</a></span>
            </div>
        </div>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="row">
            <div class="col-md-8">
                <img src="/Scripts/img/a.jpg" style="width:50px;margin-right:12px;" class="rounded pull-left" alt="...">
                <p class="card-text"><strong>Andy Smith</strong>, picked up order <a link="#">#000001</a><br> 13:00 PM
                </p>
            </div>
            <div class="col-md-4">
                <span class="pull-right"><a href="#" class="card-link">View Detail</a></span>
            </div>
        </div>
    </div>
</div> -->
