<!-- scripts\app\orders\ -->

<div class="row header">
    <div class="col-md-10">
        <h4>Order List</h4>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button">Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 menu-action">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-rounded-deep pull-xs-right"><i class="fa fa-plus" aria-hidden="true"></i> ADD ORDER</a>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <form class="row child-form-group-margin-bottom-0rem">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="sr-only" for="OrderNumber">Order Number</label>
                    <input type="text" class="form-control" id="OrderNumber" name="OrderNumber" placeholder="Order Number">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="sr-only" for="OrderDate">Order Date</label>
                    <input type="text" class="form-control" id="OrderDate" name="OrderDate" placeholder="Order Date">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="sr-only" for="ShipDate">Ship Date</label>
                    <input type="text" class="form-control" id="ShipDate" name="ShipDate" placeholder="Ship Date">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="sr-only">WareHouse</label>
                    <select class="form-control" name="WareHouse">
                        <option selected disabled>WareHouse</option>
                </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="sr-only" for="ShippingAddress">Shipping Address</label>
                    <input type="text" class="form-control" id="ShippingAddress" name="ShippingAddress" placeholder="Shipping Address">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group center">
                    <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card filter" obo-table>
</div>
<nav class="center" aria-label="Page navigation">
    <b>1-8 of 45</b>
    <button class="btn btn-link text-grey disabled" type="button" tabindex="-1">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
    <button class="btn btn-link" type="button" tabindex="-1">
      Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
</nav>
