<!-- scripts/app/customers/filter -->
<div class="col-md-2 hide" data-filter-name="AddressTypeName">
    <div class="form-group">
        <label class="sr-only" for="AddressTypeName">Address Type</label>
        <select class="form-control" id="AddressTypeName" name="AddressTypeName"></select>
    </div>
</div>
<div class="col-md-2 hide" data-filter-name="Address1">
    <div class="form-group">
        <label class="sr-only" for="Address1">Address 1</label>
        <input type="text" class="form-control" id="Address1" placeholder="Address 1" name="Address1">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="Address2">
    <div class="form-group">
        <label class="sr-only" for="">Address 2</label>
        <input type="text" class="form-control" id="Address2" placeholder="Address 2" name="Address2">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="Country">
    <div class="form-group">
        <label class="sr-only" for="Country">Country</label>
        <select class="form-control" id="Country" name="Country"></select>
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="Postcode">
    <div class="form-group">
        <label class="sr-only" for="">Postcode</label>
        <input type="text" class="form-control" id="Postcode" placeholder="Postcode" name="Postcode">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="State">
    <div class="form-group">
        <label class="sr-only" for="">State</label>
        <select class="form-control" id="State" name="State"></select>
        <!-- <input type="text" class="form-control" id="State" placeholder="State" name="State"> -->
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="City">
    <div class="form-group">
        <label class="sr-only" for="">City</label>
        <input type="text" class="form-control" id="City" placeholder="City" name="City">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="FirstName">
    <div class="form-group">
        <label class="sr-only" for="">First Name</label>
        <input type="text" class="form-control" id="FirstName" placeholder="First Name" name="FirstName">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="LastName">
    <div class="form-group">
        <label class="sr-only" for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" placeholder="Last Name" name="LastName">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="PhoneNumber">
    <div class="form-group">
        <label class="sr-only" for="">Phone Number</label>
        <input type="text" class="form-control" id="PhoneNumber" placeholder="Phone Number" name="PhoneNumber">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="FaxNumber">
    <div class="form-group">
        <label class="sr-only" for="FaxNumber">Fax Number</label>
        <input type="text" class="form-control" id="FaxNumber" placeholder="Fax Number" name="FaxNumber">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="Email">
    <div class="form-group">
        <label class="sr-only" for="Email">Email Address</label>
        <input type="text" class="form-control" id="Email" placeholder="Email Address" name="Email">
    </div>
</div>

<div class="col-md-2 hide" data-filter-name="IsActive">
    <div class="form-group">
        <label class="sr-only" for="IsActive">Status</label>
        <select class="form-control" id="IsActive" name="IsActive" getbyvalueonly="true"></select>
    </div>
</div>

<div class="col-md-2 pull-md-right" data-filter-type="reset">
    <div class="form-group center">
        <button type="reset" class="btn btn-link" obo-clearfilter> Clear Filter</button>
    </div>
</div>
