<thead>
    <tr class="bg-blue">
        <th>TITLE <span class="pull-right" data-parampaging-sortfield="Title"></span></th>
        <th>DUE DATE <span class="pull-right" data-parampaging-sortfield="DueDate"></span></th>
        <th>PRIORITY <span class="pull-right" data-parampaging-sortfield="Priority"></span></th>
        <th>DESCRIPTION <span class="pull-right" data-parampaging-sortfield="Description"></span></th>
        <th>STATUS <span class="pull-right" data-parampaging-sortfield="Status"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
