<!-- scripts/app/customers/add -->
<header class="ui-sortable-handle" role="heading">
        <h2>Edit Product</h2>
    </header>
    <div role="content">
        <div class="widget-body">
            <div class="container-fluid">
            <form class="row" enctype="multipart/form-data" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                <% print(ProductNumber); %>
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductCategoryID">Product Category</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ProductCategory" name="ProductCategoryID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductName">Product Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ProductName" name="ProductName" value="<% print(ProductName) %>" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductCode">Product Code</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="ProductCode" name="ProductCode" row="6"><% print(ProductCode); %></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductDescription">Product Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="ProductDescription" name="ProductDescription" type="text" row="6"><% print(ProductDescription); %></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CustomerID">Customer</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="CustomerID" name="CustomerID">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Brand">Brand</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Brand" name="Brand" type="text" value="<% print(Brand) %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="MadeIn">Made In</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="MadeIn" name="MadeIn" value="<% print(MadeIn) %>" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Supplier">Supplier</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Supplier" value="<% print(Supplier) %>" name="Supplier" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="SKU">SKU</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="SKU" value="<%= Barcode %>" name="SKU" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Manufacture">Manufacturer</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Manufacture" value="<% print(Manufacture) %>" name="Manufacture" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ManufactureProductName">Manufacturer Product Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ManufactureProductName" value="<% print(ManufactureProductName) %>" name="ManufactureProductName" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ManufactureProductCode">Manufacturer Product Code</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ManufactureProductCode" value="<% print(ManufactureProductCode) %>" name="ManufactureProductCode" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ManufactureLeadTimeID">Manufacturer Lead Time</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ManufactureLeadTimeID" name="ManufactureLeadTimeID">
                            </select>
                            <!-- <input class="form-control" id="ManufactureLeadTime" value="<% print(ManufactureLeadTime) %>" name="ManufactureLeadTime" type="text"> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="SKUTypeID">SKU Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="SKUTypeID" name="SKUTypeID">
                              <option></option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductPackUnit">Product Pack Unit</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ProductPackUnit" name="ProductPackUnit" disabled="disabled">
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="StorageChargeUnit">Storage Charge Unit</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="StorageChargeUnit" name="StorageChargeUnit" disabled="disabled">
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="StorageChargePer">Storage Charge Per</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="StorageChargePer" name="StorageChargePer">
                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="TransportChargeUnit">Transport Charge Unit</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="TransportChargeUnit" name="TransportChargeUnit" disabled="disabled">
                          </select>
                        </div>
                    </div>
                    <div class="form-group row" obo-view="ItemQuantity">
                        <label class="col-sm-4 col-form-label text-muted" for="ItemQuantity">Item Quantity</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="ItemQuantity" name="ItemQuantity" value="<% print(ItemQuantity) %>" placeholder="0.00" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row" obo-view="ItemPerInnerQuantity">
                        <label class="col-sm-4 col-form-label text-muted" for="ItemperInnerQuantity">Item per Inner Quantity</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="ItemPerInnerQuantity" name="ItemPerInnerQuantity" value="<% print(ItemPerInnerQuantity) %>" placeholder="0.00" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row" obo-view="ItemPerCartonQuantity">
                        <label class="col-sm-4 col-form-label text-muted" for="ItemPerCartonQuantity">Inner per Carton Quantity</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="ItemPerCartonQuantity" name="ItemPerCartonQuantity" value="<% print(ItemPerCartonQuantity) %>" placeholder="0.00" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row" obo-view='QuantityPalletPerCarton'>
                        <label class="col-sm-4 col-form-label" for="QuantityPalletPerCarton">Carton per Pallet Quantity</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="QuantityPalletPerCarton" name="QuantityPalletPerCarton" value="<% print(QuantityPalletPerCarton) %>" placeholder="0.00" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="Length">Length <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <div class=" input-group">
                                <input class="form-control" id="Length" name="Length" value="<% print(Length) %>" placeholder="0" required>
                                <span class="input-group-addon" id="basic-addon2">m</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="Width">Width <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <div class=" input-group">
                            <input class="form-control" id="Width" name="Width" value="<% print(Width) %>" placeholder="0" required>
                            <span class="input-group-addon" id="basic-addon2">m</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="Height">Height <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8 ">
                            <div class=" input-group">
                                <input class="form-control" id="Height" name="Height" value="<% print(Height) %>" placeholder="0" required>
                                <span class="input-group-addon" id="basic-addon2">m</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="CubicMetres">Cubic Metres</label>
                        <div class="col-sm-8">
                            <div class=" input-group">
                                <input class="form-control" id="CubicMetres" name="CubicMetres" disabled="disabled">
                                <span class="input-group-addon" id="basic-addon2">m<sup>3</sup></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="WeightKgs">Weight <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8 ">
                            <div class=" input-group">
                                <input class="form-control" id="WeightKgs" name="WeightKgs" value="<% print(WeightKgs) %>" placeholder="0" required>
                                <span class="input-group-addon" id="basic-addon2">kgs</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="UnitValue">Unit Value</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="UnitValue" name="UnitValue" value="<% print(UnitValue) %>" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ProductColor">Product Color</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="ProductColor" name="ProductColor" value="<% print(ProductColor) %>" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="IsDangerousGoods">Dangerous Goods <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="radioDangerousGoods1" name="IsDangerousGoods" value="true" type="radio" required>
                          <span class="c-indicator"></span>
                          Yes
                        </label>
                        </div>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="radioDangerousGoods2" name="IsDangerousGoods" value="false" type="radio" checked="checked">
                          <span class="c-indicator"></span>
                          No
                        </label>
                        </div>
                    </div>
                    <div obo-view="IsYesDangerousGoods"></div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="IsFragileGoods">Fragile Goods</label>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="FragileGoods1" name="IsFragileGoods" type="radio" value="true">
                          <span class="c-indicator"></span>
                          Yes
                        </label>
                        </div>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="FragileGoods2" name="IsFragileGoods" type="radio" value="false" checked="checked">
                          <span class="c-indicator"></span>
                          No
                        </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="PerishableGoods">Perishable Goods</label>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="PerishableGoods1" name="IsPerishableGoods" type="radio" value="true">
                          <span class="c-indicator"></span>
                          Yes
                        </label>
                        </div>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="PerishableGoods2" name="IsPerishableGoods" type="radio" value="false" checked="checked">
                          <span class="c-indicator"></span>
                          No
                        </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="IsTemperatureSensitive">Temperature Sensitive</label>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="TemperatureSensitive1" name="IsTemperatureSensitive" type="radio" value="true">
                          <span class="c-indicator"></span>
                          Yes
                        </label>
                        </div>
                        <div class="col-sm-4 margin-top-5">
                            <label class="c-input c-radio">
                          <input id="TemperatureSensitive2" name="IsTemperatureSensitive" type="radio" value="false" checked="checked">
                          <span class="c-indicator"></span>
                          No
                        </label>
                        </div>
                    </div>
                    <div obo-view="IsYesTemperatureSensitive"></div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="MinimumStockLevel">Minimum Stock Level</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="MinimumStockLevel" name="MinimumStockLevel" value="<% print(MinimumStockLevel) %>" type="number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Status">Status</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="Status" name="IsActive">
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" data-style="expand-right" obo-dosave><span class="ladda-label">Save</span></button>
                            <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
