<!-- scripts/app/tasks/my_tasks/add/template -->
<h4 class="page-header">Add Consignments</h4>

<div class="card">
  <form class="card-block row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">Shipment from</label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">3WO</option>
            <option value="2">3WO</option>
            <option value="3">3WO</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Shipment to</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="Silver Electronics">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="19 Grayson Street">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Australia</option>
            <option value="2">Australia</option>
            <option value="3">Australia</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Post Code</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="2652,NSW">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4"></label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="Tabbita">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Notes</label>
        <div class="col-md-8">
          <textarea class="form-control form-control-lg"></textarea>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">Order Number</label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">#00123464</option>
            <option value="2">#00123464</option>
            <option value="3">#00123464</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Quantity Total</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="10">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Weight Total</label>
        <div class="col-md-4"><input class="form-control form-control-lg" placeholder="240 pounds"></div>
        <div class="col-md-4">
          <select class="form-control form-control-lg ">
            <option value="1">Unit of Measure</option>
            <option value="2">Unit of Measure</option>
            <option value="3">Unit of Measure</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Shipping Method</label>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Ground</option>
            <option value="2">Ground</option>
            <option value="3">Ground</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Shipping Date</label>
        <div class="col-md-8">
            <div class="input-group">
              <input class="form-control form-control-lg" style="border-right: none;"placeholder="2652,NSW">
              <i class="input-group-addon bg-white fa fa-calendar"></i>
            </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4">Tracking Number</label>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="93216514654988">
        </div>
      </div>
    </div>

    <div class="col-md-12">
        <h4 class="page-header">Order Details</h4>
        <div class="card" obo-table>

            <table class="table table-unbordered">
            <thead>
                <tr class="bg-blue">
                    <th>NO. <span class="pull-right" data-parampaging-sortfield="WarehouseOwner"><span class="pull-right"><button class="btn btn-link btn-sorting">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button></span></span>
                    </th>
                    <th>PRODUCT NAME<span class="pull-right" data-parampaging-sortfield="WarehouseName"><span class="pull-right"><button class="btn btn-link btn-sorting">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button></span></span>
                    </th>
                    <th>QUANTITY <span class="pull-right" data-parampaging-sortfield="Address1"><span class="pull-right"><button class="btn btn-link btn-sorting">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button></span></span>
                    </th>
                    <th>GOODS DETAILS <span class="pull-right" data-parampaging-sortfield="WarehouseManagerFirstName"><span class="pull-right"><button class="btn btn-link btn-sorting">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button></span></span>
                    </th>
                </tr>
            </thead>
                <tbody class="hover text-grey">
                    <tr>
                        <td>1</td>
                        <td>WO Electronics 49LH5700 50 inch 1080p</td>
                        <td>10</td>
                        <td>Fragile Goods: Yes</td>
                    </tr>
                </tbody>
            </table>
        </div>
      <!-- <h4 class="page-header">Order Details</h4>
      <table class="table table-hover table-striped ">
        <thead class="table-active">
          <tr>
            <th>NO.</th>
            <th>PRODUCT NAME</th>
            <th>QUANTITY</th>
            <th>GOODS DETAILS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <th>WO Electronics 49LH5700 50 inch 1080p</th>
            <th>10</th>
            <th>Fragile Goods: Yes</th>
          </tr>
        </tbody>
      </table> -->
    </div>

    <div class="col-md-12">
      <a class="btn btn-secondary btn-rounded-deep btn-blues-hover text-grey pull-right">&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</a>
      <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-blues-hover text-grey pull-right">CANCEL</a>
    </div>

  </form>
</div>
