<!-- scripts/app/customers/detail/customer_profile -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Building</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= Building %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Aisle</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= Isle %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Bay</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= Bay %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Tier</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= Tier %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Location Code</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= LocationCode %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Location Sketch</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted" showdetailsketch><a href="#" onclick="event.preventDefault()"><%= LocationScetchOriginalFileName %></a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Zone Type</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(ZoneType && ZoneType.ZoneTypeName) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Zone Areas</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(ZoneArea && ZoneArea.ZoneAreaName) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">SKU Type</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><% print(SKUType && SKUType.SKUTypeName) %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Maximum Length</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= MaxLength %> m</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Maximum Width</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= MaxWidth %> m</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Maximum Height</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= MaxHeight %> m</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Maximum Weight</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= MaxWeightKgs %> kgs</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Maximum Quantity</label>
                <div class="col-md-8">
                    <p class="form-control-static text-muted"><%= MaxQuantity %></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Status</label>
                <div class="col-md-8">
                    <p class="form-control-static text-<% print(IsActive ? "success":"default") %>  text-muted"><% print(IsActive ? "Available":"Unavailable") %></p>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-md-right">
            <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">BACK</a>
            <a href="<%= _getCurrentHash() %>/edit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">EDIT</a>
        </div>
    </div>
</div>
