<div class="card-block">
    <div class="form-inline row">
        <div class="col-md-2">
            <div class="card-block">
                <h4>40</h4>
                <p class="text-muted">Total Task</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-block">
                <h4>20</h4>
                <p class="text-muted">Not Started</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-block">
                <h4>10</h4>
                <p class="text-muted">In progress</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-block">
                <h4>5</h4>
                <p class="text-muted">Completed</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-block">
                <h4>0</h4>
                <p class="text-muted">Overdue</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-block">
                <h4>5</h4>
                <p class="text-muted">Canceled</p>
            </div>
        </div>
    </div><br>
    <div class="form-inline row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-rounded-deep btn-lg btn-blues-hover pull-right" href="<%= _getCurrentHash() %>/add"><i class="fa fa-plus"></i> ADD TASK </a><br><br>
            <h4 class="text-muted">Filter <i class="fa fa-caret-down"></i></h4><br>
        </div>
        <div class="col-md-2">
            <input class="form-control form-control-lg" placeholder="Title" />
        </div>
        <div class="col-md-2">
            <input class="form-control form-control-lg" placeholder="Due Date" />
        </div>
        <div class="col-md-2">
            <select class="form-control form-control-lg">
          <option value="1">Priority</option>
        </select>
        </div>
        <div class="col-md-2">
            <input class="form-control form-control-lg" placeholder="Description" />
        </div>
        <div class="col-md-2">
            <select class="form-control form-control-lg">
            <option value="1">Status</option>
          </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-lg text-primary bg-white"><i class="fa fa-times"></i> Clear Filter</button>
        </div>
    </div>
</div>

<div class="card" obo-table></div>
<div obo-paging></div>
