<!-- scripts/app/customers/detail/addresses/add -->

<div class="row">
    <div class="col-md-12">
        <h4>Add Address</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="addresstype">Address Type </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="addresstype" name="AddresstypeID" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="adress1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8" obo-view="error1">
                            <input class="form-control" name="Address1" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="adress2">Address 2</label>
                        <div class="col-sm-8" obo-view="error2">
                            <input class="form-control" id="adress2" name="Address2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address2country"> </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="address2country" name="CountryID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="number" class="form-control" id="Postcode" name="Postcode" placeholder="Post Code" disabled="disabled">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="State" placeholder="State" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <input class="form-control" name="City" placeholder="City" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="firstname">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstname" name="FirstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="lastname">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="lastname" name="LastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="phonenumber">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="phonenumber" name="PhoneNumber">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="faxnumber">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="faxnumber" name="FaxNumber">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="emailaddress">Email Address</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="emailaddress" name="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Status">Status</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Active</p>
                            <!-- <select class="form-control" id="Status" name="Status"></select> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                        <button tyoe="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" data-style="expand-right" obo-dosave><span class="ladda-label">SAVE</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
