<!-- scripts/app/products/orders -->
<div class="container-fluid">
    <div class="row">
        <h4 class="col-md-12">
            Filter  <span class="left-10"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </h4>
    </div>
    <form class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="ordernumber">Order Number</label>
                <input type="text" class="form-control" id="ordernumber" placeholder="Order Number">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="orderdate">Order Date</label>
                <input type="text" class="form-control" id="orderdate" placeholder="Order Date">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="shipdate">Ship Date</label>
                <input type="text" class="form-control" id="shipdate" placeholder="Ship Date">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="warehouse">Warehouse</label>
                <select class="form-control" id="warehouse" placeholder="warehouse">
                  <option selected disabled>Warehouse</option>
                  <option>Warehouse A</option>
                  <option>Warehouse B</option>
                  <option>Warehouse C</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="sr-only" for="shippingaddress">Shipping Address</label>
                <input type="text" class="form-control" id="shippingaddress" placeholder="Shipping Address">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group center">
                <button type="reset" class="btn btn-link" obo-clearfilter><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="bg-blue">
                        <th>ORDER NUMBER <span class="pull-right"><i class="fa fa-caret-up position-absolute isactive" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>ORDER DATE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th style="width:130px;">SHIP DATE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>WAREHOUSE <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th>SHIPPING ADDRESS <span class="pull-right"><i class="fa fa-caret-up position-absolute" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
                        <th class="action center">ACTION</th>
                    </tr>
                </thead>
                <tbody class="hover text-grey">
                    <tr>
                        <td>00285678</td>
                        <td>Jan 01 2017</td>
                        <td>Jan 10 2017</td>
                        <td>Warehouse Company 1</td>
                        <td>90 Crofts Road, Australia, 3888, VIC, Bend</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/1" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>00250000</td>
                        <td>Feb 03 2017</td>
                        <td>Feb 05 2017</td>
                        <td>Warehouse Company 2</td>
                        <td>86 Ocean Street, Australia, 2000, NSW, Sydney </td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/2" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>00236789</td>
                        <td>Feb 04 2017</td>
                        <td>Feb 05 2017</td>
                        <td>Warehouse Company 2</td>
                        <td>19 Grayson Street, Australia, 2652, NSW, tazmania</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/3" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>00222444</td>
                        <td>Feb 05 2017</td>
                        <td>Feb 06 2017</td>
                        <td>Warehouse Company 1</td>
                        <td>88 Parkes Road, Australia, 3003, VIC, West</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/4" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>00212121</td>
                        <td>Feb 06 2017</td>
                        <td>Feb 07 2017</td>
                        <td>Warehouse Company 3</td>
                        <td>61 Jones Road, Australia, 4101, QLD</td>
                        <td class="center">
                            <a href="<%= _getCurrentHash() %>/detail/5" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="center" aria-label="Page navigation">
                <b>1-4 of 45</b>
                <button class="btn btn-link text-grey disabled" type="button" tabindex="-1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
          </button>
                <button class="btn btn-link" type="button" tabindex="-1">
            Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
            </nav>
        </div>
    </div>
</div>
