<thead>
    <tr class="bg-blue">
        <th>WAREHOUSE OWNER <span class="pull-right" data-parampaging-sortfield="WarehouseOwner"></span></th>
        <th>WAREHOUSE NAME <span class="pull-right" data-parampaging-sortfield="WarehouseName"></span></th>
        <th>ADDRESS <span class="pull-right" data-parampaging-sortfield="Address1"></span></th>
        <th>WAREHOUSE MANAGER <span class="pull-right" data-parampaging-sortfield="WarehouseManagerFirstName"></span></th>
        <th>STATUS <span class="pull-right" data-parampaging-sortfield="IsActive"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
