<!--scripts/app/consignments/picking/template-->
<div class="row header">
    <div class="col-md-10">
        <h4>Picking List</h4>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button" obo-defaultfilter>Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 menu-action">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-rounded-deep pull-xs-right"><i class="fa fa-plus" aria-hidden="true"></i> ADD PICKING</a>
    </div>
</div>

<div class="card filter" obo-filter>
    <div class="card-block">
        <!-- scripts/app/storage/warehouse/filter -->
        <form class="row child-form-group-margin-bottom-0rem">
            <div class="col-md-2" data-filter-name="ProductName">
                <div class="form-group">
                    <label class="sr-only" for="ProductName">Product Name</label>
                    <select class="form-control select2-hidden-accessible" id="WarehouseOwnerName" name="WarehouseOwnerName" tabindex="-1" aria-hidden="true"><option></option><option value="1">Product Name</option></select>
                    <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 212px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-WarehouseOwnerName-container">
                                <span class="select2-selection__rendered" id="select2-WarehouseOwnerName-container">
                                    <span class="select2-selection__placeholder">Product Name</span>
                                </span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2" data-filter-name="Quantity">
                <div class="form-group">
                    <label class="sr-only" for="ProductName">Quantity</label>
                    <select class="form-control select2-hidden-accessible" id="WarehouseOwnerName" name="WarehouseOwnerName" tabindex="-1" aria-hidden="true"><option></option><option value="1">Quantity</option></select>
                    <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 212px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-WarehouseOwnerName-container">
                                <span class="select2-selection__rendered" id="select2-WarehouseOwnerName-container">
                                    <span class="select2-selection__placeholder">Quantity</span>
                                </span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2" data-filter-name="PickingLocation">
                <div class="form-group">
                    <label class="sr-only" for="PickingLocation">Picking Location</label>
                    <select class="form-control select2-hidden-accessible" id="WarehouseOwnerName" name="WarehouseOwnerName" tabindex="-1" aria-hidden="true"><option></option><option value="1">Picking Location</option></select>
                    <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 212px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-WarehouseOwnerName-container">
                                <span class="select2-selection__rendered" id="select2-WarehouseOwnerName-container">
                                    <span class="select2-selection__placeholder">Picking Location</span>
                                </span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2" data-filter-name="DispatchLocation">
                <div class="form-group">
                    <label class="sr-only" for="DispatchLocation">Dispatch Location</label>
                    <select class="form-control select2-hidden-accessible" id="WarehouseOwnerName" name="WarehouseOwnerName" tabindex="-1" aria-hidden="true"><option></option><option value="1">Dispatch Location</option></select>
                    <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 212px;">
                        <span class="selection">
                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-WarehouseOwnerName-container">
                                <span class="select2-selection__rendered" id="select2-WarehouseOwnerName-container">
                                    <span class="select2-selection__placeholder">Dispatch Location</span>
                                </span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                            </span>
                        </span>
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2" data-filter-name="PickingDate">
                <div class="form-group">
                    <label class="sr-only" for="PickingDate">Picking Date</label>
                    <input type="text" class="form-control" id="Address1" name="PickingDate" placeholder="Picking Date">
                </div>
            </div>
            <div class="col-md-2 pull-md-right" data-filter-type="reset">
                <div class="form-group center">
                    <button type="reset" class="btn btn-link" obo-clearfilter=""><i class="fa fa-times" aria-hidden="true"></i> Clear Filter</button>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="card" obo-table>
    <!-- <table class="table table-unbordered">
    <thead>
        <tr class="bg-blue">
            <th>PRODUCT NAME <span class="pull-right" data-parampaging-sortfield="WarehouseOwner"><span class="pull-right"><button class="btn btn-link btn-sorting">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button></span></span>
            </th>
            <th>QUANTITY <span class="pull-right" data-parampaging-sortfield="WarehouseName"><span class="pull-right"><button class="btn btn-link btn-sorting">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button></span></span>
            </th>
            <th>PICKING LOCATION <span class="pull-right" data-parampaging-sortfield="Address1"><span class="pull-right"><button class="btn btn-link btn-sorting">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button></span></span>
            </th>
            <th>DISPATCH LOCATION <span class="pull-right" data-parampaging-sortfield="WarehouseManagerFirstName"><span class="pull-right"><button class="btn btn-link btn-sorting">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button></span></span>
            </th>
            <th>PICKING DATE <span class="pull-right" data-parampaging-sortfield="IsActive"><span class="pull-right"><button class="btn btn-link btn-sorting">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button></span></span>
            </th>
            <th>ACTION</th>
        </tr>
    </thead>
        <tbody class="hover text-grey">
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/1/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/2/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/3/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/4/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/5/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/6/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/7/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
            <tr>
                <td>HERSHEY'S Nuggets Chocolates...</td>
                <td>10</td>
                <td>1 AAC 09 D</td>
                <td>1 AAU 01 A</td>
                <td>Mar 24, 2017</td>
                <td>
                    <a href="#storage/warehouse/detail/8/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>
<div obo-paging="">
<!-- <nav class="paging" style="display: table; margin: 0px auto;"><button class="btn btn-link" type="button" tabindex="-1" title="first" obo-first="" disabled="disabled">
	<img src="/Scripts/img/pagination/first_off.png">
</button>
<button class="btn btn-link" type="button" tabindex="-1" title="previous" obo-previous="" disabled="disabled">
	<img src="/Scripts/img/pagination/previous_off.png">
</button>
<input class="form-control" type="number" name="Page" style="width: 5rem; display: inline;" min="1" max="1"> of <label name="TotalPage">1</label>
<button class="btn btn-link" type="button" tabindex="-1" title="next" obo-next="" disabled="disabled">
	<img src="/Scripts/img/pagination/next_off.png">
</button>
<button class="btn btn-link" type="button" tabindex="-1" title="last" obo-last="" disabled="disabled">
	<img src="/Scripts/img/pagination/last_off.png">
</button></nav> -->
</div>
