<!-- scripts/app/customers/filter -->
<form class="row child-form-group-margin-bottom-0rem">
    <div class="col-md-2 hide" data-filter-name="ReceiveDate">
        <div class="form-group">
            <label class="sr-only" for="ReceiveDate">Received Date</label>
            <input type="text" class="form-control" id="ReceiveDate" name="ReceiveDate" placeholder="Received Date">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="Reason">
        <div class="form-group">
            <label class="sr-only" for="Reason">Reason</label>
            <select class="form-control" id="Reason" name="Reason">
                <option selected disabled>Reason</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="ProductName">
        <div class="form-group">
            <label class="sr-only" for="ProductName">Product Name</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Product Name">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="UnitValue">
        <div class="form-group">
            <label class="sr-only" for="UnitValue">Unit Value</label>
            <input type="text" class="form-control" id="UnitValue" name="UnitValue" placeholder="Unit Value">
        </div>
    </div>
    <div class="col-md-2 hide" data-filter-name="GoodCondition">
        <div class="form-group">
            <label class="sr-only" for="GoodCondition">Goods Condition</label>
            <select class="form-control" id="GoodCondition" name="GoodCondition">
                <option selected disabled>Goods Condition</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 pull-md-right" data-filter-type="reset">
        <div class="form-group center">
            <button type="reset" class="btn btn-link" obo-clearfilter> Clear Filter</button>
        </div>
    </div>
</form>
