<!-- scripts/app/products/detail/orders/detail/viewstocktransfer -->
<div class="row">
    <div class="col-md-12">
        <h4>View Stock Transfer</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tansfer Order Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">#0000234242</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Sun, 08 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Transfer Information</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">External Transfer</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Source</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Company 2</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Destination</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Company 3</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Name</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">WO Electronics 49LH5700 50 inch 1060p</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Source Stock Available</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">0</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Destination Stock Available</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">10</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Transfer Quantity</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">4</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
