<td><% if (InsertDate) { print(moment(InsertDate, ["YYYYMMDD"]).format('LL'));}%></td>
<td><% print(Product && Product.ProductName) %></td>
<td><%= StockHistoryName %></td>
<td></td>
<td><% print(StockTransfer && StockTransfer.Qty) %></td>
<td class="center">
    <a href="<%= _getCurrentHash() %>/detail/<%= StockHistoryID %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
