<td>
    <%= Role %>
</td>
<td>
    <%= Description %>
</td>
<td>
    <%= DateCreated %>
</td>
<td>
     <%= Used %>
</td>
<td>
    <%= Status %>
</td>
<td>
    <a href="<%= _getCurrentHash() %>/detail/<%= RolesID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
    <a href="<%= _getCurrentHash() %>/detail/<%= RolesID %>/warehouse_profile" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">Role Permission</a>
</td>
