<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="Weight"></label>
    <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="Weight" name="TemperatureValueMax" placeholder="Maximum Temperature" required>
        <span class="input-group-addon" id="basic-addon2">Celcius</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="Weight"></label>
    <div class="col-sm-8 input-group">
        <input type="number" maxlength="5" class="form-control" id="Weight" name="TemperatureValueMin" placeholder="Minimum Temperature" required>
        <span class="input-group-addon" id="basic-addon2">Celcius</span>
    </div>
</div>
