<!-- scripts/app/customers/add -->
<div class="row header">
    <div class="col-md-12">
        <h4>Add Storage Location</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
        <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Building">Building</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Building" name="Building" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Isle">Aisle</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Isle" name="Isle" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Bay">Bay</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Bay" name="Bay" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Tier">Tier</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Tier" name="Tier" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="LocationCode">Location Code</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="LocationCode" name="LocationCode" type="text" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Files">Location Sketch</label>
                        <div class="col-sm-8">
                            <label class="file" style="width:100%;">
                              <input type="file" id="Files" name="Files" accept="image/jpeg, image/png, image/gif, image/jpg, image/tiff">
                              <span class="file-custom"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ZoneTypeID">Zone Type <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ZoneTypeID" name="ZoneTypeID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="ZoneAreaID">Zone Area <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="ZoneAreaID" name="ZoneAreaID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="SKUTypeID">SKU Type <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="SKUTypeID" name="SKUTypeID" required></select>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="MaxLength">Maximum Length <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8 input-group">
                            <input class="form-control" id="MaxLength" name="MaxLength" type="text" placeholder="0">
                            <span class="input-group-addon">m</span>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="MaxWidth">Maximum Width <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8 input-group">
                            <input class="form-control" id="MaxWidth" name="MaxWidth" type="text" placeholder="0">
                            <span class="input-group-addon">m</span>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="MaxHeight">Maximum Height <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8 input-group">
                            <input class="form-control" id="MaxHeight" name="MaxHeight" type="text" placeholder="0">
                            <span class="input-group-addon">m</span>
                        </div>
                    </div>
                    <div class="form-group row noerrormessageshow">
                        <label class="col-sm-4 col-form-label" for="MaxWeight">Maximum Weight <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8 input-group">
                            <input class="form-control" id="MaxWeightKgs" name="MaxWeightKgs" type="text" placeholder="0">
                            <span class="input-group-addon">Kgs</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="MaxQuantity">Maximum Quantity <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="MaxQuantity" name="MaxQuantity" type="text" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Status">Status</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CANCEL</a>
                        <button type="submit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey" data-style="expand-right" obo-dosave><span class="ladda-label">SAVE</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
