<header class="ui-sortable-handle" role="heading">
        <h2>Edit Warehouse</h2>
    </header>
    <div role="content">
        <div class="widget-body">
            <div class="container-fluid">
            <form class="row" obo-form>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseOwnerID">Warehouse Owner</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="WarehouseOwnerID" name="WarehouseOwnerID">
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="warehouseName">Warehouse Name <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <input class="form-control" id="warehouseName" name="WarehouseName" value="<%= WarehouseName %>" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8" obo-view="error1">
                            <input class="form-control" id="address1" value="<%= Address1 %>" name="Address1" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="address2">Address 2</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="address2" value="<%= Address2 %>" name="Address2" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <select class="form-control" id="address" name="CountryID"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input class="form-control" name="PostCode" value="<%= PostCode %>" type="text" value="<%= PostCode %>" disabled="disabled" placeholder="Post Code">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" name="State" value="<%= State %>" disabled="disabled" placeholder="State">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <input class="form-control" id="City" name="City" value="<%= City %>" type="text" disabled="disabled" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Phone">Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Phone" name="Phone" value="<%= Phone %>" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Fax">Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Fax" name="Fax" value="<%= Fax %>" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="Email">Email Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="Email" name="Email" value="<%= Email %>" type="email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagementTypeID">Management Type <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="WarehouseManagementTypeID" name="WarehouseManagementTypeID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseDescription">Warehouse Description <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="WarehouseDescription" name="WarehouseDescription" rows="5" required><%= WarehouseDescription %></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerID">Warehouse Manager <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="WarehouseManagerID" name="WarehouseManagerID" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerPhoneNumber">WM Phone Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="WarehouseManagerPhoneNumber" name="WarehouseManagerPhoneNumber" value="<%= WarehouseManager.WarehousePhoneNumber %>" type="text" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerFaxNumber">WM Fax Number</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="WarehouseManagerFaxNumber" name="WarehouseManagerFaxNumber" value="<%= WarehouseManager.WarehouseFaxNumber %>" type="text" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="WarehouseManagerEmailAddress">WM Email Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="WarehouseManagerEmailAddress" name="WarehouseManagerEmailAddress" value="<%= WarehouseManager.WarehouseEmail %>" type="email" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="IsActive">Status <i class="text-danger" aria-hidden="true">*</i></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="IsActive" name="IsActive"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" data-style="expand-right" obo-dosave><span class="ladda-label">Save</span></button>
                            <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
