<form accept-charset="UTF-8" role="form">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Email Address" name="username" type="email" required>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" required>
        </div>
        <p class="text-muted margin-bottom-125rem">
            Forgot Password? <a href="#forgot_password">Click here</a>
        </p>
    </fieldset>
    <button class="btn btn-lg btn-primary btn-block" type="submit" obo-dologin>Log in</button>
    <div class="text-muted margin-top-1rem" obo-errormessage style="display:none;"><i class="fa fa-2x fa-times-circle-o text-info" style="float:left; margin-right:0.2rem;" aria-hidden="true"></i> <span obo-name="errorMessage"></span><br /> Please <a href="" obo-doReset>try again!</a></div>
</form>
