<div class="row">
    <div class="col-md-4 col-md-offset-4" obo-container>
        <img class="logistical" src="/Scripts/img/logo_white.svg">
        <img class="freightassist pull-right" src="/Scripts/img/freight_assist.png">
        <div class="card filter">
            <div class="card-block" obo-content>
                <div class="container">
                    <div class="card-title">
                        <%= title %>
                    </div>
                    <%= content %>
                </div>
            </div>
        </div>
        <p class="center text-white h7">&copy; Copyright 2017 <a href="http://www.onebyonedigital.com">OneByOne Digital</a>
            <br> Logistical Software 1.1.03
        </p>
    </div>
</div>
