<!-- scripts/app/customers/detail/orders/detail -->
<div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">#00236789</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 01 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Cancel Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 02 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Ship Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 03 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Warehouse</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Company 2</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">#5442323</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">SKU</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">WO49LH570050IN</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Product Item</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">5</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Price</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">AUD$ 563.17</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Weight / Prices</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">24 pounds</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Total Weight</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">240 pounds</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">POD</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Yes</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Invoice</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Yes</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipping Method</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipping Code</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Lorem Ipsum</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tracking Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">93612699035001000000</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Billing Address</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">19 Grayson Street</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Post Code</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">2652, NSW</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Tabbita</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipping Address</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">19 Grayson Street</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Post Code</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">2652, NSW</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Tabbita</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Cathy</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Last name</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Nguyen</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">03 5690 9111</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Fax Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">03 5656 9111</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Email Address</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">cathy_nguyen@domain.com</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Sub Total Price</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">AUD$ 563.17</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tax</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">10 %</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Total Price</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">AUD$ 563.17</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(3) %>/edit" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">EDIT</a>
                    </div>
                </div>

            </div>

        </div>
