<td><%= ContactType.ContactTypeName %></td>
<td><%= FirstName %></td>
<td><%= LastName %></td>
<td><%= Email %></td>
<td class="text-<% print(IsActive? 'default':'default');  %>">
    <%
        print(IsActive? 'Active': 'Not active')
    %>
</td>
<td class="center">
    <a href="<%= _getCurrentHash() %>/detail/<%= ContactID %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">View</a>
</td>
