<thead>
    <tr class="bg-blue">
        <th>CUSTOMER NAME <span class="pull-right" data-parampaging-sortfield="CustomerName"></span></th>
        <th>ACCOUNT NUMBER <span class="pull-right" data-parampaging-sortfield="AccountNo"></span></th>
        <th>ACCOUNT OWNER <span class="pull-right" data-parampaging-sortfield="AccountName"></th>
        <th>TAGS <span class="pull-right" data-parampaging-sortfield="ListCustomerTag"></span></th>
        <th>STATUS <span class="pull-right" data-parampaging-sortfield="IsActive"></span></th>
        <th>ACTION</th>
    </tr>
</thead>
<tbody></tbody>
