<!-- scripts/app/customers/detail/contacts -->
<div class="row margin-bottom-1rem">
    <div class="col-md-10 col-md-10">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle text-muted padding-left-0rem" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Filter</strong>
                </button>
            <div class="dropdown-menu" aria-labelledby="filter">
                <button class="btn dropdown-item text-muted" type="button" obo-defaultfilter>Default</button>
                <button class="btn dropdown-item text-muted" type="button" obo-showeditfilters>Edit Filters</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <a href="<%= _getCurrentHash() %>/add" class="btn btn-primary btn-rounded-deep pull-xs-right"><i class="fa fa-plus" aria-hidden="true"></i> ADD CONTACT</a>
    </div>
</div>
<div class="filter" obo-filter></div>
<div class="row">
    <div class="col-md-12">
        <div obo-table>
        </div>
        <div obo-paging>
        </div>
    </div>
</div>
