<!-- scripts/app/customers/detail/orders/detail -->
<div class="row">
    <div class="col-md-12">
        <h4>View Orders</h4>
    </div>
</div>
<div class="card filter">
    <div class="card-block">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">00236789</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 01 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Status</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Picking</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date Shipped</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 03 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Warehouse</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Warehouse Company 2</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">POD</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Yes</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Invoice</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Yes</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Sender & Receivers</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Hunter Scott</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">19 Grayson Street</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">2652, NSW</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Tabbita</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipping Methode</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Ground</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tracking Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">7456342492342328423</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 margin-top-30">
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label"><strong>Order Details</strong></label>
                  </div>
                  <table class="table">
                    <thead>
                      <tr class="bg-blue">
                        <th>NO.</th>
                        <th>PRODUCT NUMBER</th>
                        <th>SKU</th>
                        <th>QUANTITY</th>
                        <th>GOODS DETAILS</th>
                        <th>WEIGHT</th>
                        <th>AMOUNT </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>002034242</td>
                        <td>W09873657857</td>
                        <td>6</td>
                        <td>Fragile Goods : Yes</td>
                        <td>10.2 kgs</td>
                        <td>10.2 kgs</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="form-group row">
                      <label class="col-sm-2 col-md-offset-8 col-form-label">Weight Total</label>
                      <div class="col-sm-2">
                          <p class="form-control-static text-muted center">660 kgs</p>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(2) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">Close</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
