<!-- scripts/app/tasks/all_tasks/add/template -->
<h4 class="page-header">Add Task</h4>
<div class="card">
  <form class="card-block row">
    <div class="col-md-6">
      <div class="form-group row">
        <h5 class="col-form-label col-md-4">Title<i class="text-danger">*</i></h5>
        <div class="col-md-8">
          <input class="form-control form-control-lg" placeholder="Add User">
        </div>
      </div>
      <div class="form-group row">
        <h5 class="col-form-label col-md-4">Due Date<i class="text-danger">*</i></h5>
        <div class="col-md-8">
          <div class="input-group">
            <input class="form-control form-control-lg text-muted" placeholder="Mar 20, 2017">
            <i class="input-group-addon fa fa-calendar bg-white text-muted"></i>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <h5 class="col-form-label col-md-4">Priority<i class="text-danger">*</i></h5>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Medium</option>
            <option value="2">High</option>
            <option value="3">More..</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <h5 class="col-form-label col-md-4">Description</h5>
        <div class="col-md-8">
          <textarea rows="6" class="form-control form-control-lg"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <h5 class="col-form-label col-md-4">Priority<i class="text-danger">*</i></h5>
        <div class="col-md-8">
          <select class="form-control form-control-lg">
            <option value="1">Not Started</option>
            <option value="2">Started</option>
            <option value="3">Delivered</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right"><p>SAVE</p></a>
      <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right" href="<%= _getCurrentHashOmitSuffix(1) %>"><p>CANCEL</p></a>
    </div>

  </form>
</div>
