<!-- scripts/app/tasks/my_tasks/add/template -->
<!-- scripts/app/tasks/my_tasks/add/template -->
<h4 class="page-header">Add Picking</h4>
<div class="card">
    <form class="card-block row">
        <div class="col-md-6">
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Order Number<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <select class="form-control form-control-lg">
                      <option value="1">Select Order Number</option>
                      <option value="2">High</option>
                      <option value="3">More..</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Product Name<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <select class="form-control form-control-lg">
                      <option value="1">Select Product Name</option>
                      <option value="2">High</option>
                      <option value="3">More..</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">SKU Type</h5>
                <div class="col-md-8">
                    <input class="form-control form-control-lg" placeholder="SKU Type">
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Quantity<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <select class="form-control form-control-lg">
                      <option value="1">Select Quantity</option>
                      <option value="2">High</option>
                      <option value="3">More..</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Picking Location<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <select class="form-control form-control-lg">
                      <option value="1">Select Picking Location</option>
                      <option value="2">High</option>
                      <option value="3">More..</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Dispatch Location<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <select class="form-control form-control-lg">
                      <option value="1">Select Dispatch Location</option>
                      <option value="2">High</option>
                      <option value="3">More..</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Due Date<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="form-control form-control-lg text-muted" placeholder="mm dd yyyy">
                        <i class="input-group-addon fa fa-calendar bg-transparent text-muted"></i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <h5 class="col-form-label col-md-4">Picker Name<i class="text-danger">*</i></h5>
                <div class="col-md-8">
                    <select class="form-control form-control-lg">
                      <option value="1">Select Picker Name</option>
                      <option value="2">High</option>
                      <option value="3">More..</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right">
                <p>SAVE</p>
            </a>
            <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right">
                <p>CANCEL</p>
            </a>
        </div>

    </form>
</div>
