<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">View Location Sketch</h2>
            </div>
            <div class="modal-body">
                <h4 class="text-muted" obo-view="LocationCode"></h4>

                <div class="row">
                    <div class="col-xs-11">
                        <div class="panzoom">
                            <img style="max-width: 100%;">
                        </div>
                    </div>

                    <div class="col-xs-1 text-xs-center" style="padding-top: 5rem; padding-bottom: 5rem;">
                        <input type="range" data-slider-min="1" data-slider-max="5" data-slider-step="0.1" data-slider-value="1" data-slider-orientation="vertical" slider/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
