<!-- scripts/app/tasks/my_tasks/add/template -->
<h4>Add User</h4>
<div class="row">
  <div class="card col-md-6">
    <div class="card-block row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control form-control-lg">
          <i class="input-group-addon fa fa-search bg-white"></i>
        </div>
        <ul class="list-group list-group-flush" style="overflow-y: scroll; height:600px;">
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
          <li class="list-group-item row">
              <img class="card-img-top col-md-4" src="/Scripts/img/user.png" width="50px" height="50px" alt="Card image cap">
              <label class="text-muted col-md-8">Ben Hopman FBPLP-5689868</label>
          </li>
        </ul>
      </div>
      <div class="form-group col-md-6">
        <div class="card-block row">
          <div class="form-group col-md-2">
            <img class="card-img-top" src="/Scripts/img/user.png" width="200px" style="margin-bottom:12px" alt="Card image cap">
          </div>
          <div class="form-group col-md-12">
            <h5 class="col-form-label">Department</h5>
            <input class="form-control form-control-lg form-control-static col-md-12" placeholder="Admin">
          </div>
          <div class="form-group col-md-12">
            <h5 class="col-form-label">Division</h5>
            <input class="form-control form-control-lg form-control-static col-md-12" placeholder="Mar 15, 2017"></input>
          </div>
          <div class="form-group col-md-12">
            <h5 class="col-form-label">Employee ID</h5>
            <input class="form-control form-control-lg form-control-static col-md-12" placeholder="FSHIF-5689868"></input>
          </div>
          <div class="form-group col-md-12">
            <h5 class="col-form-label">Employee Name</h5>
            <p class="form-control form-control-lg form-control-static col-md-12 text-muted" placeholder="Brayden Idriess">Brayden Idriess</p>
          </div>
          <div class="form-group col-md-12">
            <h5 class="col-form-label">Status</h5>
            <p class="form-control form-control-lg form-control-static col-md-12 text-muted" placeholder="Active">Active</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-md-6">
    <div class="card-block row">
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">Role</h5>
        <select class="form-control form-control-lg col-md-8">
          <option value="1">Admin</option>
          <option value="1">Super Admin</option>
          <option value="1">Guess</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">User Exparation</h5>
        <div class="input-group">
          <input class="form-control form-control-lg" placeholder="Mar 15, 2017" style="border-right:none"></textarea>
          <i class="input-group-addon fa fa-calendar bg-white text-muted"></i>
        </div>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">Email Address</h5>
        <input class="form-control form-control-lg col-md-8"  placeholder="brayden.idriess@foo.com"></input>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">Password</h5>
        <div class="col-md-4">
          <div class="radio radio-info">
            <input type="radio" value="1" name="1"required>
            <label>Generate</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="radio radio-info">
            <input type="radio" value="1" name="1" required>
            <label>Specify</label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">New Password</h5>
        <input class="form-control form-control-lg col-md-8"  placeholder="·······················"></input>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4"></h5>
        <div class="col-md-4">
          <div class="checkbox checkbox-info">
            <input type="checkbox" value="1" name="1" required>
            <label>Show</label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">Confirm Password</h5>
        <input type="password" class="form-control form-control-lg col-md-8"  placeholder="····················"></input>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4"></h5>
        <div class="col-md-4">
          <div class="checkbox checkbox-info">
            <input type="checkbox" value="1" name="1" required>
            <label>Show</label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <h5 class="col-form-label col-md-4">Status</h5>
        <p class="form-control form-control-lg form-control-static col-md-8">&nbsp;&nbsp;&nbsp;&nbsp;Active</p>
      </div>
      <div class="form-group col-md-12">
        <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></a>
        <a class="btn btn-secondary btn-lg btn-rounded-deep btn-blues-hover pull-right" href="<%= _getCurrentHashOmitSuffix(1) %>" ><p>&nbsp;&nbsp;&nbsp;CANCEL&nbsp;&nbsp;&nbsp;</p></a>
      </div>
    </div>
  </div>
</div>
