<!-- scripts/app/order/detail/pods/detail -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipment From</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">3WO</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">BA/8A Downd Road</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">6015, WA</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Kewdale</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipment To</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Silver Electronic</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">4 Brown Street</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Australia</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">2060, NSW</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p class="form-control-static text-muted">Sydney</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Number</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">#00236789</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Order Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 02 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipping Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 03 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Shipping Type</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Weight</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">240 pounds</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Dangerous Goods</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">No</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Fragile Goods</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Yes</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Expire Goods</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">No</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Temperature Goods</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">No</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Goods Condition Before Receive</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Good</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Receive Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Feb 10 2017</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Receiver</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Tristan Le Souef</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Goods Condition When Received</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted">Good</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Receiver Sign</label>
                        <div class="col-sm-8">
                            <img class="img-fluid" src="/Scripts/img/sign.jpg"></img>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 pull-right">
                    <div class="pull-right">
                        <a href="<%= _getCurrentHashOmitSuffix(3) %>" class="btn btn-secondary btn-rounded-deep btn-s btn-blues-hover text-grey">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
