<header class="ui-sortable-handle" role="heading">
        <h2>Add Senders and Receivers</h2>
    </header>
    <div role="content">
        <div class="widget-body">
            <div class="container-fluid">
            <form class="row" obo-form>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="firstname">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="firstname" name="FirstName" pattern="[a-z]{1,15}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="lastname">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="lastname" name="LastName" pattern="[a-z]{1,15}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="address1">Address 1 <i class="text-danger" aria-hidden="true">*</i></label>
                    <div class="col-sm-8" obo-view="error1">
                        <input class="form-control" id="address1" name="Address1" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="address2">Address 2</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="address2" name="Address2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <select class="form-control" name="CountryID" required>
                          <option>Select Country <i class="text-danger" aria-hidden="true">*</i></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input class="form-control" id="postcode" name="Postcode" placeholder="Post Code" disabled="disabled">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" name="State" placeholder="State" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <input class="form-control" name="City" placeholder="City" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="emailaddress">Email Address</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="emailaddress" name="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="phonenumber">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="phonenumber" name="PhoneNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="accountcode">Account Code</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="accountcode" name="accountcode">
                        <!-- <select class="form-control" name="accountcode">
                            <option>Choose Account Code</option>
                          </select> -->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="Status">Status</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">Active</p>
                    </div>
                </div>
                <div class="pull-right">
                        <button type="submit" class="btn btn-success" data-style="expand-right" obo-dosave><span class="ladda-label">Save</span></button>
                        <a href="<%= _getCurrentHashOmitSuffix(1) %>" class="btn btn-default">Cancel</a>
                    </div>
            </div>
        </form>
    </div>
</div>
