<li>
    <a href="<%= _getCurrentHashOmitSuffix() %>/customer_profile"><span>Customer Profile</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix() %>/products"><span>Products</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix() %>/addresses"><span>Addresses</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix() %>/contacts"><span>Contacts</span></a>
</li>
<li>
    <a href="<%= _getCurrentHashOmitSuffix() %>/senders_and_receivers"><span>Senders & Receivers</span></a>
</li>